/* ========================================
   FILE: src/styles/layers/components.css
   ======================================== */

/* Typography components */

blockquote,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
ul {
  margin-bottom: calc(var(--space_block) / 2);
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
  padding: 0;
  padding-block: calc(var(--space_block) * 0.545); /* was 1.5svh */
  font-weight: var(--weight);
  line-height: 1.44;
}

@media (min-width: 600px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: var(--weight);
  }
}

@media (min-width: 1024px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: var(--weight);
  }
}

.offer_content h2,
.offer_content h3,
.section h2,
.section h3 {
  color: var(--brand);
}

h1,
.h1 {
  font-size: clamp(var(--heading1_min), var(--heading1_responsive), var(--heading1_max));
  line-height: 1.1;
  text-transform: uppercase;
}

h2,
.h2 {
  font-size: clamp(var(--heading2_min), var(--heading2_responsive), var(--heading2_max));
  line-height: 1.1;
  padding-top: calc(var(--space_block) * 2);
  text-transform: uppercase;
}

h3,
.h3 {
  font-size: clamp(var(--heading3_min), var(--heading3_responsive), var(--heading3_max));
  line-height: 1.1;
}

h4,
.h4 {
  font-size: clamp(var(--heading4_min), var(--heading4_responsive), var(--heading4_max));
  line-height: 1.1;
}

h5,
.h5 {
  font-size: clamp(var(--heading5_min), var(--heading5_responsive), var(--heading5_max));
  line-height: 1;
}

h6,
.h6 {
  font-size: clamp(var(--heading6_min), var(--heading6_responsive), var(--heading6_max));
  line-height: 1;
}

/* Strong text */
strong {
  font-weight: var(--weight_bold);
}

/* Blockquotes */
blockquote {
  color: var(--grey_color);
  border-left: calc(var(--space_inline) * 0.145) solid var(--grey_color_light); /* was 0.4svh */
  padding-left: calc(var(--space_inline) / 2);
  letter-spacing: calc(var(--space_inline) * -0.036); /* was -0.1svh */
  font-style: italic;
}

blockquote > :last-child {
  margin-bottom: 0;
}

/* Code blocks */
pre {
  font-family: "Open Sans", sans-serif;
  max-width: 54svh; /* Keep as viewport based */
  display: block;
  font-size: 0.875em;
  font-family: Consolas, monospace;
  color: var(--grey_color_dark);
  line-height: 1.3em;
  margin: 0 auto;
  padding: 0 calc(var(--space_inline) * 0.364); /* was 1svh */
}

code {
  background: #fafafd;
  padding: 0.063em;
  border: 0.063em solid #dedede;
}

/* Cards */
.card {
  position: relative;
  z-index: 10;
  display: block;
  width: 100%;
  cursor: pointer;
}

.card > * {
  margin-top: calc(var(--space_block) / 2);
}

@media (min-width: 1024px) {
  .card {
    display: inline-block;
    margin: 0;
    /*min-width: var(--big_card_width);
    max-width: var(--big_card_width);*/
  }
}

.card:focus,
.card:hover {
  box-shadow: var(--card_shadow_hover);
}

.card:active {
  transform: translateY(calc(var(--space_block) * 0.009));
}

.card h1 {
  text-align: center;
  text-transform: uppercase;
  height: 15%;
}

.card h2,
.card h3 {
  text-align: center;
  padding-top: 0;
}

.card h3 {
  min-height: calc(var(--space_block) * 1);
}

.card p {
  margin-left: calc(var(--space_inline) / 2);
  margin-right: calc(var(--space_inline) / 2);
}

/* Buttons */
.button {
  user-select: none;
  font-weight: var(--weight_med);
  display: inline-block;
  width: auto;
  text-align: center;
  height: var(--tap_size);
  line-height: var(--tap_size);
  margin-block: calc(var(--space_block) / 3);
  border-radius: var(--radius);
  padding-inline: 0;
  color: var(--brand);
  border: 2px solid var(--brand);
}

.button:focus,
.button:hover {
  cursor: pointer;
  /*background-color: var(--button_focus_bg);*/
  transform: scale(1.025);
}

.button:active {
  /*background-color: var(--button_focus_bg);*/
  transform: translateY(calc(var(--space_block) * 0.145)); /* was 0.4svh */
}

.button_dark {
  background-color: var(--black);
  color: var(--white);
  border: calc(var(--space_block) * 0.116) solid var(--white); /* was 0.32svh */
}

.button_dark:focus,
.button_dark:hover {
  cursor: pointer;
  background-color: var(--brand);
  border: calc(var(--space_block) * 0.116) solid var(--brand); /* was 0.32svh */
}

.button_row {
  padding-top: calc(var(--space_block) / 8);
  padding-bottom: calc(var(--space_block) / 2);
  width: 100%;
  display: block;
}

.selling_points {
  user-select: none;
  font-size: calc(var(--space_inline) * 0.545); /* was 1.5svh */
  margin-bottom: var(--space_block);
  max-width: 40svh; /* Keep as viewport based */
  margin-left: auto;
  margin-right: auto;
}

.offer_content {
  padding-bottom: 16dvw;
}

.offer_content .h1,
.section .h1,
.offer_content .h2,
.section .h2,
.offer_content .h3,
.section .h3,
.offer_content .h4,
.section .h4,
.offer_content .h5,
.section .h5,
.offer_content .h6,
.section .h6,
.offer_content h1,
.section h1,
.offer_content h2,
.section h2,
.offer_content h3,
.section h3,
.offer_content h4,
.section h4,
.offer_content h5,
.section h5,
.offer_content h6,
.section h6 {
  color: var(--brand);
}

.mean_title {
  color: var(--brand);
  min-height: 50dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mean_icon {
  min-width: 200px;
  padding-top: 10px;
  width: 20dvw;
  max-width: 240px;
}

.mean_icon.four_icon_group {
  max-width: 80dvw;
  display: flex;
  width: 80vw;
}

@media (min-width: 601px) {
  .mean_icon.four_icon_group {
    width: 70dvw;
  }
}
@media (min-width: 821px) {
  .mean_icon.four_icon_group {
    width: 60dvw;
  }
}
@media (min-width: 1025px) {
  .mean_icon.four_icon_group {
    width: 50dvw;
  }
}

.mean_title.mean_title--first {
  background-color: black;
  min-height: 50dvh;
  padding-block: calc(var(--space_block) * 4);
}
.mean_title.mean_title--second {
  padding-block: calc(var(--space_block) * 4);
  margin-top: 2rem;
}
.mean_title.mean_title--first h1,
.mean_title.mean_title--first h2,
.mean_title.mean_title--first h3 {
  color: white;
}

.toc {
  margin: var(--space_block) 0;
  padding: var(--space_block);
  background-color: #f9fafb;
  border-radius: var(--radius);
  margin-inline: auto;
}

.toc ul {
  list-style: none;
  padding: 0;
}

.toc a {
  color: var(--brand);
  text-decoration: none;
}

.toc a:hover {
  text-decoration: underline;
}

.CTAbutton {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: fit-content;
  padding-inline: var(--space_inline);
  svg {
    width: max-content;
  }
}

.max_width_100ch {
  max-width: 100ch;
  margin-inline: auto;
}
.max_width_60ch {
  max-width: 60ch;
  margin-inline: auto;
}

/* Links */
/*a:not(.button):not(.no_underline) {
  color: var(--link_color);
  position: relative;
  display: inline-block;
  padding-bottom: calc(var(--space_block) * 0.073);
  text-decoration: underline;
  text-decoration-thickness: 0.75ch;
  text-underline-offset: 0.55ch;
  user-select: none;
}
a:not(.button):not(.no_underline):hover {
  color: var(--link_color_hover);
  text-decoration-thickness: 0.2ch;
  text-underline-offset: 0.45ch;
}*/

a:not(.no_underline) :not(.button):not(.no_underline) {
  color: inherit;
  text-decoration: none;
  border-bottom: 3px solid var(--smart_underline_for_white_text);
  box-shadow: inset 0 -5px 0 var(--smart_underline_for_white_text);
  -webkit-transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
  transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
}

a:not(.card):not(.no_underline):not(.button):focus,
a:not(.card):not(.no_underline):not(.button):hover {
  background: var(--smart_underline_for_white_text);
}
