/* ========================================
   FILE: src/styles/layers/tokens.css
   Design tokens using SVH units
   ======================================== */

:root {
  /*🐸 JS ASSISTED, UNIVERSAL, DYN WIN SETTINGS */
  /* LEGACY FALLBACK */
  --windowH: 100svh;
  /* MODERN FALLBACK */
  --windowH: var(--windowH);
  /* JS-POWERED (WINS IF --vh EXISTS) */
  --windowH: calc(var(--vh, 1svh) * 100);

  /*🐸 DYNAMIC SPACES */
  --space_block: 1.25rem;
  --space_inline: 1.25rem;

  /*🐸 FIXED SPACES */
  --tap_size: 48px;

  /*🐸 COLOURS */
  --black: oklch(0 0 0);
  --black_fumes: #161616; /*oklch(0.2 0 360)*/
  --blackT25: color-mix(in oklch, var(--black), transparent 75%);
  --blackT50: color-mix(in oklch, var(--black), transparent 50%);
  --black_hover: var(--black);

  --white: oklch(0.9624 0.0062 75.41 / 100%);
  --white_hex: #f5f2ee;
  --whiteT25: oklch(0.95 0.01 255 / 25%);
  --whiteT50: oklch(0.95 0.01 255 / 50%);
  --white_hover: var(--white);

  --background_blackT75: rgba(0, 0, 0, 0.75);
  --background_blackT50: rgba(0, 0, 0, 0.5);
  --background_blackT30: rgba(0, 0, 0, 0.3);
  --background_blackT15: rgba(0, 0, 0, 0.15);
  --background_blackT10: rgba(0, 0, 0, 0.1);
  --background_blackT05: rgba(0, 0, 0, 0.05);
  --background_whiteT15: rgba(255, 255, 255, 0.15);

  /*--brand: #0069cc;*/
  --brand: oklch(0.5286 0.1735 255 / 100%);
  --brand_hex: #0169cc;
  /*--brand_invert: #ff9633;*/
  --brand_invert: oklch(0.7687 0.1641 58.66);
  /*--brand_complementary: #cc6600;*/
  --brand_complementary: oklch(0.6201 0.156454 53.4649);
  --brandT25: oklch(0.5286 0.1735 255 / 25%);
  --brandT50: oklch(0.5286 0.1735 255 / 50%);
  --brandT75: oklch(0.5286 0.1735 255 / 75%);
  /*--brandT25: color-mix(in oklch, var(--brand), transparent 75%);
	--brandT50: color-mix(in oklch, var(--brand), transparent 50%);*/

  /*
  calculate manually cos browsers not yet all done this...
  --brand_light: oklch(from var(--brand) calc(l + 0.1) c h);
  --brand_dark: oklch(from var(--brand) calc(l - 0.18) c h);
  */
  --brand_lightest: oklch(0.8286 0.1735 255);
  --brand_lighter: oklch(0.7286 0.1735 255);
  --brand_darker: oklch(0.3286 0.1735 255);
  --brand_light: oklch(0.6286 0.1735 255);
  --brand_dark: oklch(0.4286 0.1735 255);
  --text_color: #111111;
  --grey_color: #212121;
  --grey_color_light: #878787;
  --grey_color_dark: #000000;
  --svgBG: pink;

  /* 🐸 SHADOWS WITH SVH */
  --shadow_color: rgb(0, 0, 0);
  --header_shadow: 0 0.2svh 1svh 0 rgba(0, 0, 0, 0.16);
  --card_shadow:
    0px 0px 0.2svh 0px rgba(0, 0, 0, 0.12),
    0px 0.2svh 0.2svh 0px rgba(0, 0, 0, 0.24);
  --card_shadow_hover:
    0px 0px 0.8svh 0px rgba(0, 0, 0, 0.12),
    0px 0.8svh 0.8svh 0px rgba(0, 0, 0, 0.24);
  --main_shadow:
    0px 0.2svh 0.4svh -0.1svh rgba(0, 0, 0, 0.2),
    0px 0.4svh 0.5svh 0px rgba(0, 0, 0, 0.14),
    0px 0.1svh 1svh 0px rgba(0, 0, 0, 0.12);

  /* 🐸 TRANSITIONS */
  --transition_shadow: box-shadow 0.2s ease;

  /*🐸CARD TOKENS */
  --big_card_width: 27.5svw;

  /*🐸TYPOGRAPHY */
  --font_family:
    -apple-system, BlinkMacSystemFont, Segoe UI, "Inter", Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --font_clamp: clamp(18px, 18px + 0.3svw, 28px);
  --font_rem: 18px;
  --line_height: 1.5;
  --weight: 300;
  --weight_med: 400;
  --weight_bold: 600;
  --weight_heavy: 900;
  --radius: clamp(3px, 0.25rem, 1rem);

  /*🐸BREAKPOINTS */
  --width_min: 400px;
  --width_xs: 480px;
  --width_sm: 600px;
  --width_md: 820px;
  --width_lg: 1024px;
  --width_xl: 1280px;
  --width_2x: 1420px;
  --width_max: 1920px;

  /*🐸FINE-TUNED BREAKPOINTS rem size */
  @media (min-width: 480px) {
    :root {
      --base-font-size: 17px;
    }
  }

  @media (min-width: 600px) {
    :root {
      --font_rem: 18px;
    }
  }

  @media (min-width: 820px) {
    :root {
      --font_rem: 20px;
    }
  }

  @media (min-width: 1024px) {
    :root {
      --font_rem: 24px;
    }
  }

  @media (min-width: 1280px) {
    :root {
      --font_rem: 25px;
    }
  }
  @media (min-width: 1420px) {
    :root {
      --font_rem: 26px;
    }
  }

  @media (min-width: 1920px) {
    :root {
      --font_rem: 28px;
    }
  }

  /*🐸RESPONSIVE HEADINGS WITH SVH */
  --heading1_responsive: calc(var(--windowH)/100 * 4);
  --heading1_min: 1.75rem;
  --heading1_max: calc(var(--windowH)/100 * 4.6);

  --heading2_responsive: calc(var(--windowH)/100 * 3.25);
  --heading2_min: 1.75rem;
  --heading2_max: calc(var(--windowH)/100 * 4.2);

  --heading3_responsive: calc(var(--windowH)/100 * 3);
  --heading3_min: 1.5rem;
  --heading3_max: calc(var(--windowH)/100 * 3.6);

  --heading4_responsive: calc(var(--windowH)/100 * 2.5);
  --heading4_min: 1.25rem;
  --heading4_max: calc(var(--windowH)/100 * 3.3);

  --heading5_responsive: calc(var(--windowH)/100 * 2.25);
  --heading5_min: 1.15rem;
  --heading5_max: calc(var(--windowH)/100 * 3);

  --heading6_responsive: calc(var(--windowH)/100 * 2);
  --heading6_min: 1rem;
  --heading6_max: calc(var(--windowH)/100 * 2.6);

  /* 🐸 DERIVED COLOURS */
  --link_color: var(--white);
  --link_color_hover: var(--white_hover);
  --link_color_main: var(--black);
  --link_color_main_hover: var(--black_hover);

  --background_color: var(--white);
  --smart_underline_for_white_text: var(--brandT50);

  /* 🐸 GUI ELEMNETS */
  --cover_height: calc(var(--viewport_height) * 2);
}
