{% include ascii_art_junglestar_banner.html %}

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title }}</title>

  <meta name="version" content="{{ site.version }}">

  {% if page.sitemap == 'false' %}
    <meta name="robots" content="noindex,nofollow,nosnippet">
  {% endif %}

  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

  {% include font_load.html %}

  {% capture inline_css %}
    {% include main.scss %}
  {% endcapture %}
  <style>{{ inline_css | scssify }}</style>

  <meta name="google-site-verification" content="{{site.google.verify}}" />

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  {% include favico.html %}

  {% include open_graph.html %}

</head>
