@charset "utf-8";

//// Predefined Break-points (for _cmq.scss)
$mediaMinWidth: 600px;
$mediaBp1Width: 820px;
$mediaMaxWidth: 1024px;

// typog
$base-font-family: 'Titillium Web', sans-serif;
$base-font-size:   18px;
$elastic_font_size: 2vw;
  $small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

// vertical rhythm
$vertical_rhythm: 2rem;
$vertical_rhythm--small: 1rem;

//responsive spacing
$spacing_unit: 3vw;
$spacing_unit-big: 8vw;
$spacing_unit--static: 20px;

//colors
$black: black;
$white: white;
$background_color: #e6e6e6; //#fdfdfd;
$brand_color: #0069cc; // hsla(209, 100%, 40%, 1);
  //invert + other tests:
  $brand_color-invert: invert($brand_color);
  $brand_color-complementary: complement($brand_color);

//bg
$top_color: $background-color;
$text_color: #111;
$link_color: $brand_color;

$grey_color: #212121;
$grey_color-light: lighten($grey_color, 40%);
$grey_color-dark:  darken($grey_color, 25%);


//shadows
$shadow_color: rgb(0,0,0);
$header_shadow: 0 2px 10px 0 rgba($shadow_color,0.16);
$card_shadow: 0px 0px 2px 0px rgba($shadow_color,0.12), 0px 2px 2px 0px rgba($shadow_color,0.24);
$card_shadow--hover: 0px 0px 8px 0px rgba($shadow_color,0.12), 0px 8px 8px 0px rgba($shadow_color,0.24);
//material design reference: .mdc-elevation--z4
$main_shadow: 0px 2px 4px -1px rgba($shadow_color, 0.2), 0px 4px 5px 0px rgba($shadow_color, 0.14), 0px 1px 10px 0px rgba($shadow_color, 0.12);


//box-shadows
$shadow--smooth:
0 2.2px 3.6px -15px rgba(0, 0, 0, 0.031),
0 6px 12.8px -15px rgba(0, 0, 0, 0.039),
0 14.5px 30.9px -15px rgba(0, 0, 0, 0.045),
0 48px 80px -15px rgba(0, 0, 0, 0.07);

$shadow--short:
0 1px 1.4px rgba(0, 0, 0, 0.03),
0 2.6px 3.5px rgba(0, 0, 0, 0.037),
0 5.3px 7.1px rgba(0, 0, 0, 0.041),
0 11px 14.6px rgba(0, 0, 0, 0.046),
0 30px 40px rgba(0, 0, 0, 0.07);


//text-shadows
$shadow--text: 1px 3px 10px rgba(20, 20, 20, 0.4);
$shadow--transition: box-shadow .2s ease;

$transition_shadow: box-shadow 0.2s ease;

$product_category_1: hsla(117, 100%, 81%, .75); //food
$product_category_2: hsla(43, 100%, 81%, .75); //tour
$product_category_3: hsla(205, 100%, 81%, .75); //accommodation

// responsive headings
$heading1_responsive: 4vw;
$heading1_min: 35px;
$heading1_max: 46px;

$heading2_responsive: 3.5vw;
$heading2_min: 30px;
$heading2_max: 42px;

$heading3_responsive: 3vw;
$heading3_min: 25px;
$heading3_max: 36px;

$heading4_responsive: 2.5vw;
$heading4_min: 20px;
$heading4_max: 33px;

$heading5_responsive: 2.25vw;
$heading5_min: 18px;
$heading5_max: 30px;

$heading6_responsive: 2vw;
$heading6_min: 16px;
$heading6_max: 26px;

// buttons
$black_stroke: hsl(0,0%,60%);
$button_focus_bg: hsla(0, 0%, 100%, 1);
$button_book: $brand_color;

// cards
$big_card_width: 27.5vw;


@import
  "cmq",
  "base",
  "responsive_font",
  "layout",
  "flex",
  "cover",
  "home",
  "about",
  "post",
  "footer",
  "headings",
  "products",
  "buttons",
  "cards",
  "ico_backgrounds",
  "colors",
  "print",
  "scrollreveal"
;
