<!-- Twitter Cards -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@rokmatwit">

	{% if site.twitter %}
	<meta name="twitter:creator" content="@{{ owner.twitter }}">
	{% else %}
	<meta name="twitter:creator" content="@rokmatwit">
	{% endif %}

	<meta name="twitter:image:src" content="{{ site.url }}/assets/junglestar_logo.png">

	<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">

	<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">



<!-- Open Graph -->
	<meta property="og:locale" content="en">
	<meta property="og:type" content="article">

	<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">

	<meta property="og:image" content="{{ site.url }}/assets/junglestar_logo.png">

	<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

	<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}">

	<meta property="og:site_name" content="{{ site.title }}">
