{% assign slogan = site.data.slogans[page.slogan] %}

<div class="mean_title mean_title--first">
  <div class="wrapper flex flex_cols flex_align_center flex_justify_center">
    <div class="mean_icon">
      {% include svg/sources/desperate.svg %}
    </div>

    <h1 class="center">{{ slogan.question }}</h1>
    <h2 class="h3 center">{{ slogan.sub_question }}</h2>

  </div>
</div>

<div class="mean_title mean_title--second">
  <div class="wrapper flex flex_cols flex_align_center flex_justify_center">
    <div class="mean_icon">
      {% include svg/sources/jumping.svg %}
    </div>

    <h1 class="center">{{ slogan.answer }}</h1>
    <h2 class="h3 center">{{ slogan.sub_answer }}</h2>

  </div>
</div>
