<div class="mean_title mean_title--first">
  <div class="wrapper flex flex_cols flex_align_center flex_justify_center">
    <div class="mean_icon">
      {% include svg/sources/desperate.svg %}
    </div>
    <h1 class="center" title="{{ page.question2 }}" >{{ page.question2_id }}</h1>
  </div>
</div>

<div class="mean_title mean_title--second">
  <div class="wrapper flex flex_cols flex_align_center flex_justify_center">
    <div class="mean_icon">
      {% include svg/sources/jumping.svg %}
    </div>
    <h2 class="h3 center" title="{{ page.answer1 }} {{ page.answer2 }}" >{{ page.answer1_id }} <br>{{ page.answer2_id }}</h2>
  </div>
</div>
