.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  font-weight: 400; //wght@400;600
  line-height: 1.44;

  .offer_content &,
  .section & {
    color: $brand_color;
  }
}

h1,
.h1 {
  //@include responsive-font(5vw, $heading1, $heading1*1.2, $heading1);
  @include responsive-font($heading1_responsive, $heading1_min, $heading1_max);
  line-height: 1.1;
}

h2,
.h2 {
  @include responsive-font($heading2_responsive, $heading2_min, $heading2_max);
  line-height: 1.1;
}

h3,
.h3 {
  @include responsive-font($heading3_responsive, $heading3_min, $heading3_max);
  line-height: 1.1;
}

h4,
.h4 {
  @include responsive-font($heading4_responsive, $heading4_min, $heading4_max);
  line-height: 1.1;
}

h5,
.h5 {
  @include responsive-font($heading5_responsive, $heading5_min, $heading5_max);
  line-height: 1;
}

h6,
.h6
 {
  @include responsive-font($heading6_responsive, $heading6_min, $heading6_max);
  line-height: 1;
}

.top_padded {
  padding-top: 115px;
}
