---
//import Welcome from '../components/aaa.astro';
import Layout from "@layouts/Layout.astro";

import Header from "@components/HeaderSlotted.astro";
// Page metadata
const pageTitle = "Junglestar | Content Production";
const pageDescription =
  "Sustainable Web Design to help fight to help the planet. Change. We help small enterprises with websites, apps, and marketing communication.";
const pageSubtitle = "Brand's Narrative? What's that...";
---

<Layout title={pageTitle} description={pageDescription} pageSubtitle={pageSubtitle}>
  <div slot="landing_screen">
    <Header>{pageSubtitle}</Header>
  </div>

  <div class="offer_content light_bg page_break social_media_management">
    <div class="mean_title mean_title--first">
      <div class="wrap flex flex_cols flex_align_center flex_justify_center">
        <div class="mean_icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0.14 841.445 400 400"
            class="white_color outlined icon--location"
          >
            <path
              d="M314.598 1119.047c-14.498 0-27.47 5.723-37.39 14.688l-136.013-79.166c.953-4.388 1.715-8.776 1.715-13.354 0-4.579-.763-8.966-1.715-13.354l134.488-78.403c10.301 9.539 23.845 15.452 38.915 15.452 31.666 0 57.229-25.562 57.229-57.229 0-31.666-25.563-57.229-57.229-57.229-31.667 0-57.229 25.562-57.229 57.229 0 4.579.763 8.967 1.716 13.354l-134.488 78.404c-10.302-9.54-23.846-15.452-38.916-15.452-31.666 0-57.228 25.562-57.228 57.229s25.562 57.229 57.228 57.229c15.07 0 28.614-5.914 38.916-15.451l135.824 79.358c-.954 4.006-1.527 8.201-1.527 12.398 0 30.712 24.99 55.703 55.703 55.703s55.703-24.991 55.703-55.703-24.989-55.703-55.702-55.703z"
            ></path>
          </svg>
        </div>
        <h1 class="center">Social media power for your brand?</h1>
      </div>
    </div>

    <div class="mean_title mean_title--second">
      <div class="wrap flex flex_cols flex_align_center flex_justify_center">
        <div class="mean_icon four_icon_group">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400" class="brand_color outlined icon--instagram">
            <path
              d="M283.999 395.005h-168C54.789 395.005 5 345.21 5 284V115.997C5 54.788 54.789 4.995 115.999 4.995h168C345.203 4.995 395 54.788 395 115.997V284c0 61.21-49.797 111.005-111.001 111.005zm-168-356.576c-42.772 0-77.571 34.794-77.571 77.567V284c0 42.776 34.798 77.571 77.571 77.571h168c42.777 0 77.575-34.795 77.575-77.571V115.997c0-42.773-34.798-77.567-77.575-77.567h-168z"
            ></path>
            <path
              d="M200.001 299.854c-55.06 0-99.859-44.79-99.859-99.855 0-55.056 44.799-99.86 99.859-99.86 55.064 0 99.863 44.804 99.863 99.86.001 55.064-44.798 99.855-99.863 99.855zm0-166.288c-36.627 0-66.427 29.804-66.427 66.432 0 36.63 29.799 66.429 66.427 66.429 36.63 0 66.435-29.799 66.435-66.429 0-36.627-29.805-66.432-66.435-66.432zM328.143 94.426c0 13.256-10.74 23.996-23.995 23.996-13.26 0-23.999-10.74-23.999-23.996s10.739-23.996 23.999-23.996c13.255.001 23.995 10.74 23.995 23.996z"
            ></path>
          </svg>

          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400" class="brand_color outlined icon--pinterest">
            <path
              d="M225.345 287.866c-23.74-1.835-33.718-13.607-52.333-24.911-10.237 53.688-22.741 105.16-59.786 132.045-11.448-81.152 16.781-142.096 29.892-206.797-22.348-37.619 2.693-113.34 49.827-94.681 58.011 22.941-50.225 139.88 22.437 154.483 75.859 15.243 106.824-131.627 59.782-179.398C207.196-.369 77.31 67.037 93.281 165.776c3.892 24.139 28.835 31.467 9.965 64.781-43.5-9.637-56.48-43.947-54.811-89.689 2.69-74.876 67.276-127.301 132.056-134.557 81.924-9.167 158.817 30.083 169.434 107.144 11.946 86.983-36.984 181.178-124.58 174.411zm0 0"
            ></path>
          </svg>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="-189.5 493.5 400 400"
            class="brand_color outlined icon--twitter"
          >
            <path
              d="M205.5 572.741c-15.341 6.6-30.688 10.723-46.025 12.377 17.321-10.393 29.036-25.075 35.143-44.047-15.842 9.4-32.752 15.833-50.732 19.298-15.84-16.827-35.304-25.241-58.401-25.241-22.107 0-40.954 7.791-56.547 23.385-15.59 15.59-23.385 34.437-23.385 56.54 0 5.938.659 12.043 1.98 18.314-32.666-1.649-63.31-9.857-91.935-24.622-28.624-14.77-52.916-34.441-72.877-59.021-7.26 12.372-10.891 25.817-10.891 40.337 0 13.692 3.217 26.396 9.654 38.11 6.434 11.709 15.096 21.195 25.985 28.456-12.871-.498-24.913-3.879-36.13-10.149v.99c0 19.304 6.063 36.253 18.188 50.855 12.125 14.603 27.428 23.797 45.904 27.591a82.834 82.834 0 0 1-21.035 2.721c-4.62 0-9.652-.409-15.095-1.231 5.114 16.002 14.518 29.154 28.21 39.467 13.694 10.314 29.202 15.629 46.525 15.965-29.035 22.762-62.112 34.144-99.232 34.144-7.095 0-13.527-.323-19.303-.985 37.12 23.919 78.034 35.879 122.743 35.879 28.376 0 55.02-4.494 79.927-13.484 24.915-8.99 46.195-21.035 63.847-36.134 17.651-15.092 32.87-32.456 45.655-52.088 12.783-19.634 22.308-40.13 28.579-61.492 6.271-21.368 9.405-42.77 9.405-64.218 0-4.621-.08-8.085-.249-10.394 15.675-11.38 29.041-25.16 40.092-41.323z"
            ></path>
          </svg>

          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400" class="brand_color outlined icon--facebook">
            <path
              d="M363.675 5.001H36.325C19.026 5.001 5 19.025 5 36.326v327.349c0 17.299 14.025 31.324 31.325 31.324h179.49V240.854h-31.821v-56.861h31.821v-36.795c0-26.312 12.496-67.517 67.51-67.517l49.563.208v55.191h-35.964c-5.898 0-14.194 2.951-14.194 15.502v33.463h50.978l-5.842 56.809H282.73V395h80.945C380.976 395 395 380.975 395 363.676V36.326c0-17.301-14.024-31.325-31.325-31.325z"
            ></path>
          </svg>
        </div>
        <h2 class="h3 center"> We build your image through social engagement! </h2>
        <h3 class="center">
          Instagram, Facebook, Twitter, Pinterest...
          <br />First we strategize goals & audience together, then...
          <br />We'll target and engage <strong> real active users. </strong>
          <br />We'll build your brand,
          <br />authentically growing your audience.
          <br />We'll direct traffic to your site,
          <br />increasing sales and customer satisfaction,
          <br />leveraging the smartest tools.
        </h3>
        <a
          class="button CTAbutton center"
          href="mailto:info@junglestar.org?subject=Send me more infos about Junglestar's Social Media Management package"
        >
          Let's start talking!
        </a>

        <div class="print_only">
          <div class="starting_at center print_footer">
            <p>Starting at 290 Euro</p>
          </div>
        </div>
      </div>
    </div>
  </div></Layout
>
