---
//import Welcome from '../components/aaa.astro';
import Layout from "@layouts/Layout.astro";
//import Card from "@components/DesignConceptsCard.astro";
import { getCollection } from "astro:content";
const posts = await getCollection('designConcepts', ({ data }) => {
  return data.draft !== true && import.meta.env.PROD ? data.draft !== true : true;
});

// Page metadata
const title = "Junglestar | Design Because Why";
const description =
    "Sustainable Web Design to help the planet. Change. We help small enterprises with websites, apps, and marketing communication.";
---

<style>
    main {
        max-width: 1200px;
        margin: 0 auto;
        padding: 2rem 1rem;
    }

    h1 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
        color: #111827;
    }

    .design-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 1.5rem;
    }

    @media (max-width: 768px) {
        .design-grid {
            grid-template-columns: 1fr;
        }
    }
    .baloon {
        border: 1px solid var(--brand);
        border-radius: var(--radius);
    }

</style>
<Layout title={title} description={description}>
    <main>
        <h1 class="center">Design delivers!</h1>
        <h3 class="center baloon">Designing for sustainabilty? What's that...</h3>
        <hr>
        <div class="center">TOC</div>
        <div class="design-grid">
            {
                posts.map((post) => (
                    <li>
                        <a href=#{post.id}>{post.data.title}</a>
                    </li>
                ))
            }

            <hr>
            <!-- {designs.map((design) => <Card {...design} />)} -->
        </div>
    </main>
</Layout>
x
