---
//pages/discoverability.astro
import Layout from "@layouts/Layout.astro";
import Header from "@components/HeaderSlotted.astro";
// Page metadata
const pageTitle = "Junglestar | Pricing";
const pageDescription =
  "Flexible one-stop web agency. We design, code & deploy — from webstores to web apps. Packed solutions & custom designs for great user experiences.";
const pageSubtitle = "WHERE ARE YOU?";
---

<style>
  .light_bg,
  .page_content.light_bg {
    background-color: #c3daf1;
  }

  .mean_title {
    color: var(--brand);
    min-height: 50dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .mean_title.mean_title--first {
    background-color: black;
  }
  .mean_title.mean_title--second {
    margin-top: 2rem;
  }
  .mean_title.mean_title--first h1,
  .mean_title.mean_title--first h2,
  .mean_title.mean_title--first h3 {
    color: white;
  }

  .top_pad--big {
    padding-top: 8dvw;
  }
  .looper__link {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .product_text h2,
  .product_text h3 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .color_black {
    color: #000 !important;
  }

  .product_text .button_row {
    padding-inline: calc(var(--space_inline) / 1);
    text-align: center;
  }
</style>

<Layout title={pageTitle} description={pageDescription} pageSubtitle={pageSubtitle}>
  <div slot="landing_screen">
    <Header>{pageSubtitle}</Header>
  </div>
  <div class="print_only">
    <div class="print_imperatif">Make life easy for your customers!</div>
    <div class="print_title">Junglestar</div>
    <div class="print_subtitle">
      Junglestar can make you a fast-loading website, crafted to out-perform your competitors.
    </div>
  </div>

  <div class="offer_content light_bg google_my_business">
    <div class="mean_title mean_title--first">
      <div class="wrap flex flex_cols flex_align_center flex_justify_center">
        <div class="mean_icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400" class="white_color outlined icon--location">
            <path
              d="M200 33.334C135.5 33.334 83.333 85.5 83.333 150 83.333 237.5 200 366.666 200 366.666S316.667 237.5 316.667 150C316.667 85.5 264.5 33.334 200 33.334zm0 158.332c-23 0-41.667-18.666-41.667-41.666S177 108.334 200 108.334 241.666 127 241.666 150 223 191.666 200 191.666z"
              fill="none"></path>
          </svg>
        </div>
        <h2 class="center h1"> Can we easly find your location?</h2>
        <p><small>Let's put your business on the map!"</small></p>
      </div>
    </div>

    <div class="mean_title mean_title--second">
      <div class="wrap flex flex_cols flex_align_center flex_justify_center">
        <div class="mean_icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 400 400"
            class="brand_color outlined icon--google_my_biz"
          >
            <path
              d="M119.235 34.163h-51.47c-14.117.009-26.324 9.844-29.336 23.636l-.118.425L10 158.853h.226c.018 26.204 21.264 47.441 47.472 47.441 26.219 0 47.474-21.255 47.474-47.474h-.168l14.231-124.657z"
              fill="none"></path>
            <path
              d="M200.01 158.82V34.167h-80.775L105.01 158.853h.162c.018 26.204 21.264 47.441 47.472 47.441 26.219 0 47.473-21.255 47.473-47.474h-.107z"
              fill="none"></path>
            <path
              d="M295.007 158.82L280.785 34.167H200.01v124.686h.108c.017 26.204 21.265 47.441 47.473 47.441 26.218 0 47.472-21.255 47.472-47.474h-.056z"
              fill="none"></path>
            <path
              d="M389.998 158.85l.002-.029h-.008L361.707 58.224l-.118-.425c-3.012-13.792-15.219-23.627-29.334-23.636h-51.47L295 158.853h.054c.018 26.204 21.267 47.441 47.473 47.441 26.209 0 47.456-21.237 47.472-47.441H390l-.002-.003zM342.528 287.438c-.168-2.262-.446-4.325-.844-6.962h-51.785c0 7.244 0 15.146-.028 22.395h30.001a26.096 26.096 0 0 1-10.982 16.745s0-.124-.022-.129a31.422 31.422 0 0 1-12.144 4.74c-4.344.794-8.8.775-13.139-.058a32.788 32.788 0 0 1-12.253-5.312 34.182 34.182 0 0 1-12.047-15.392c-.185-.481-.356-.969-.532-1.461v-.053l.048-.036a33.222 33.222 0 0 1-.019-21.372 34.386 34.386 0 0 1 7.968-12.964 32.364 32.364 0 0 1 32.613-8.493 29.621 29.621 0 0 1 11.868 6.986l10.121-10.123c1.786-1.802 3.641-3.549 5.358-5.413a53.462 53.462 0 0 0-17.729-10.979 55.746 55.746 0 0 0-38.332.124 55.41 55.41 0 0 0-29.936 26.827 54.54 54.54 0 0 0-4.793 13.85c-5.732 28.491 11.652 56.533 39.718 64.071 9.176 2.458 18.929 2.397 28.175.296a49.938 49.938 0 0 0 22.551-11.718c6.657-6.124 11.429-14.285 13.929-22.953a63.886 63.886 0 0 0 2.235-22.616z"
              fill="none"></path>
            <path
              d="M109.974 115.349h-.007l-4.963 43.472h.011l4.959-43.472zm232.552 90.945c-26.148 0-47.356-21.144-47.468-47.267-.111 26.123-21.318 47.267-47.467 47.267-26.208 0-47.456-21.237-47.473-47.441h-.001c-.017 26.204-21.264 47.441-47.473 47.441-26.208 0-47.455-21.237-47.472-47.441h-.001c-.018 26.204-21.265 47.441-47.473 47.441a47.261 47.261 0 0 1-28.609-9.593v155.967c0 7.273 5.897 13.169 13.172 13.169h306.157c7.273 0 13.171-5.896 13.171-13.169V202.299a47.316 47.316 0 0 1-19.063 3.995z"
              fill="none"></path>
          </svg>
        </div>
        <h2 class="center h1">We make sure your business is on the map!</h2>
        <h3 class="center">
          Using Google My Business, <br />we'll submit to Google all your important details, <br />phone number, working
          hours, products, location, <br />in the proper way that will get noticed on a Google search.
          <br /><br />This ultra convenient offer <strong>includes a one page website</strong>, a blog and guarantees
          that You will be well listed on Google.
        </h3>
      </div>

      <a
        class="button CTAbutton"
        href="mailto:info@junglestar.org?subject=Send me infos about Junglestar's Google Biz package"
      >
        Let's start talking!
      </a>
    </div>

    <div class="print_only">
      <div class="starting_at center print_footer">
        <p>Starting at 290 Euro</p>
      </div>
    </div>
  </div>

  <div class="print_only">
    <div class="print_footer"> See this offer online at: https://junglestar.org/offer/ </div>
  </div>
</Layout>
