---
import Gmap from "@components/Gmap.astro";
import Header from "@components/HeaderSlotted.astro";
//pages/discoverability.astro
import Layout from "@layouts/Layout.astro";

// Page metadata
const pageTitle = "Junglestar | Pricing";
const pageDescription =
  "Flexible one-stop web agency. We design, code & deploy — from webstores to web apps. Packed solutions & custom designs for great user experiences.";
const pageSubtitle = "WHERE ARE YOU?";
---

<style>
  .light_bg,
  .page_content.light_bg {
    background-color: #c3daf1;
  }

  .top_pad--big {
    padding-top: 8dvw;
  }
  .looper__link {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .product_text h2,
  .product_text h3 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .color_black {
    color: #000 !important;
  }

  .product_text .button_row {
    padding-inline: calc(var(--space_inline) / 1);
    text-align: center;
  }
</style>

<Layout title={pageTitle} description={pageDescription} pageSubtitle={pageSubtitle}>
  <div slot="landing_screen">
    <Header>{pageSubtitle}</Header>
  </div>
  <Gmap />
</Layout>
