---
//import Welcome from '../components/aaa.astro';
import Layout from "@layouts/Layout.astro";
// Page metadata
const pageTitle = "Junglestar | Pricing";
const pageDescription =
    "Flexible one-stop web agency. We design, code & deploy — from webstores to web apps. Packed solutions & custom designs for great user experiences.";
const pageSubtitle = "Check our packages!";
---

<Layout title={pageTitle} description={pageDescription}>
    {pageSubtitle}

    <div class="print_only">
        <div class="print_imperatif">Make life easy for your customers!</div>
        <div class="print_title">Junglestar</div>
        <div class="print_subtitle">
            Junglestar can make you a fast-loading website, crafted to
            out-perform your competitors.
        </div>
    </div>

    <div class="light_bg offer_content">
        <div class="scrolltarget">
            <div class="mean_title mean_title--first">
                <div
                    class="wrapper flex flex_cols flex_align_center flex_justify_center"
                >
                    <div class="mean_icon">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0.5 400.5 400 400"
                            class="white_color outlined icon--desperate"
                        >
                            <path
                                fill="none"
                                d="M86.009 645.221c-19.266-9.706-26.963-33.234-17.247-52.43 9.65-19.2 33.167-26.917 52.456-17.157 19.23 9.77 26.891 33.231 17.208 52.424-9.745 19.196-33.25 26.933-52.417 17.163z"
                            ></path>
                            <path
                                fill="none"
                                d="M80.69 663.069h73.136l.551-62.44c.567-23.406 3.994-40.537 14.871-54.805 9.811-12.934 19.678-28.575 61.664-41.691 62.592-19.598 112.234 12.825 118.185 16.549 19.211 12.076 25.046 37.433 13.008 56.695-2.064 3.272-4.615 6.005-7.336 8.463-.329.435-.435.967-.819 1.344l-65.993 72.082h80.619c12.1-.006 21.914 9.793 21.925 21.894.014 12.113-9.796 21.942-21.909 21.957H238.129a21.958 21.958 0 0 1-20.087-13.109c-2.456-5.583-2.29-11.735-.053-17.194.248-4.447 1.171-8.897 3.695-12.911l49.007-79.09c-6.078-.209-12.482.37-18.851 2.466-18.576 5.936-31.843 18.311-31.868 18.311 0 0-2.253 2.194-3.349 3.331l-21.436 81.814c-.167.694-.589 1.184-.807 1.808-.354 1-.792 1.966-1.313 2.889a19.247 19.247 0 0 1-2.706 3.92c-.667.75-1.25 1.499-2.007 2.151-1.299 1.169-2.752 2.029-4.274 2.829-.783.431-1.456.908-2.279 1.228-2.46.955-5.061 1.553-7.817 1.553H80.69c-12.092 0-21.917-7.388-21.917-19.49.003-12.102 9.829-20.554 21.917-20.554zm-36.261-23.691l.027.03s-4.452 19.319-12.473 25.268c-8.046 5.979-15.625 2.733-19.043-1.881l-.027-.029c-3.424-4.616-4.086-12.48 3.957-18.459 8.019-5.951 27.559-4.929 27.559-4.929zm5.734-28.081l-.016.046S33.172 621.614 23.335 620c-9.884-1.605-12.85-9.305-11.929-14.969l.011-.055c.924-5.667 6.11-11.58 15.99-9.961 9.845 1.6 22.756 16.282 22.756 16.282z"
                            ></path>
                        </svg>
                    </div>

                    <h1 class="center">
                        Is your website hard to use on phones?
                    </h1>
                    <h2 class="h3 center">
                        Need to zoom-in to read the text and menus?
                    </h2>
                </div>
            </div>

            <div class="mean_title mean_title--second">
                <div
                    class="wrapper flex flex_cols flex_align_center flex_justify_center"
                >
                    <div class="mean_icon">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0.5 400.5 400 400"
                            class="brand_color outlined icon--jumping"
                        >
                            <path
                                fill="none"
                                d="M356.654 441.236c7.189-6.6 7.685-17.773 1.105-24.983-6.564-7.216-17.731-7.701-24.961-1.129l-106.497 97.28-170.371-.411c-9.767.203-17.518 8.288-17.313 18.054.199 9.479 7.835 17.114 17.313 17.313h103.846v63.846l-72.438.069a21.25 21.25 0 0 0-17.462 9.21 21.21 21.21 0 0 0-2.326 19.616l32.428 84.505a21.236 21.236 0 0 0 19.815 13.632c2.532 0 5.102-.464 7.599-1.429 10.934-4.182 16.406-16.436 12.223-27.37a.182.182 0 0 0-.011-.028l-21.378-55.692 95.098-.094.121 58.271-83.782 38.161c-10.61 4.985-15.169 17.628-10.184 28.238 4.901 10.43 17.229 15.045 27.775 10.396l96.246-43.842a21.174 21.174 0 0 0 12.402-19.36l-.331-191.948 101.083-92.305z"
                            ></path>
                            <path
                                fill="none"
                                d="M219.338 472.87c0 19.317-15.66 34.995-34.963 34.995-19.329 0-35.002-15.678-35.002-34.995.002-19.329 15.673-34.999 35.002-34.999 19.299 0 34.963 15.68 34.963 34.999z"
                            ></path>
                        </svg>
                    </div>

                    <h1 class="center">We can fix that.</h1>
                    <h2 class="h3 center">
                        We offer affordable packages for any budget!
                    </h2>
                </div>
            </div>
        </div>

        <div class="product_grid top_pad--big">
            <div
                id="landing-page"
                class="looper__link card bestvalue"
                title="LANDING PAGE package"
            >
                <div class="product_text">
                    <h1></h1>

                    <h2 class="center">Compact Website</h2>

                    <h3 class="h4 center color_black">All-included package</h3>

                    <h4 class="h3 center">
                        Quality website template. Name, Hosting and SSL
                        included.
                    </h4>

                    <p class="center">
                        We load your data, process everything and produce a
                        spicy landing page ready to hit. The perfect digital
                        brochure with zero maintenance cost!
                    </p>

                    <div class="selling_points">
                        <div class="center">GET:</div>

                        <ul>
                            <li class="checkmark">Responsive landing page.</li>

                            <li class="checkmark">
                                Designed for phones... and desktops.
                            </li>

                            <li class="checkmark">Social media friendly.</li>

                            <li class="checkmark">SEO optimised.</li>

                            <li class="checkmark">Domain name.</li>

                            <li class="checkmark">Hosting on global CDN.</li>

                            <li class="checkmark">Secure SLL/https.</li>

                            <li class="checkmark">
                                Sustainable Web Design to help fight Climate
                                Change.
                            </li>
                        </ul>
                    </div>

                    <div class="starting_at center">
                        <p>
                            Starting at 490 Euro.

                            <a
                                title="See  - Compact Website Demo"
                                href="https://amazing-single.junglestar.org/"
                            >
                                See Demo.</a
                            >
                        </p>
                    </div>

                    <div class="button_row center">
                        <a
                            title="request more infos"
                            href="mailto:info@junglestar.org?subject=Send me more infos about Junglestar's  package"
                        >
                            <span class="button center"
                                >Let's start talking!</span
                            >
                        </a>
                    </div>
                </div>
            </div>

            <div
                id="full-site"
                class="looper__link card bestseller"
                title="FULL SITE package"
            >
                <div class="product_text">
                    <h1></h1>

                    <h2 class="center">Amazing Website</h2>

                    <h3 class="h4 center color_black">All-included package</h3>

                    <h4 class="h3 center">
                        Quality website template. Name, Hosting and SSL
                        included.
                    </h4>

                    <p class="center">
                        We load your look and products data, process everything
                        and produce a clean performant website ready to compete.
                    </p>

                    <div class="selling_points">
                        <div class="center">GET:</div>

                        <ul>
                            <li class="checkmark">Responsive full website.</li>

                            <li class="checkmark">Social media friendly.</li>

                            <li class="checkmark">SEO optimised.</li>

                            <li class="checkmark">Domain name.</li>

                            <li class="checkmark">Hosting on global CDN.</li>

                            <li class="checkmark">Secure SLL/https.</li>

                            <li class="checkmark">Data entry.</li>

                            <li class="checkmark">
                                Editing system for collaborators.
                            </li>

                            <li class="checkmark">
                                Sustainable Web Design to help fight Climate
                                Change.
                            </li>
                        </ul>
                    </div>

                    <div class="starting_at center">
                        <p>
                            Starting at 990 Euro.

                            <a
                                title="See  - Amazing Website Demo"
                                href="https://amazing-days.junglestar.org/"
                            >
                                See Demo.</a
                            >
                        </p>
                    </div>

                    <div class="button_row center">
                        <a
                            title="request more infos"
                            href="mailto:info@junglestar.org?subject=Send me more infos about Junglestar's  package"
                        >
                            <span class="button center"
                                >Let's start talking!</span
                            >
                        </a>
                    </div>
                </div>
            </div>

            <div id="custom" class="looper__link card" title="CUSTOM package">
                <div class="product_text">
                    <h1></h1>

                    <h2 class="center">Awesome Design</h2>

                    <h3 class="h4 center color_black">All-included package</h3>

                    <h4 class="h3 center">
                        Customised design for your needs. Name, Hosting and SSL
                        included.
                    </h4>

                    <p class="center">
                        We craft a special design for your brand, produce &
                        develop a well thought user experiences by embracing
                        your existing look and brand identity.
                    </p>

                    <div class="selling_points">
                        <div class="center">GET:</div>

                        <ul>
                            <li class="checkmark">Responsive full website.</li>

                            <li class="checkmark">Social media friendly.</li>

                            <li class="checkmark">SEO optimised.</li>

                            <li class="checkmark">Domain name.</li>

                            <li class="checkmark">Hosting on global CDN.</li>

                            <li class="checkmark">Secure SLL/https.</li>

                            <li class="checkmark">Data entry.</li>

                            <li class="checkmark">
                                Editing system for collaborators.
                            </li>

                            <li class="checkmark">
                                Customised architecture & functionalities.
                            </li>

                            <li class="checkmark">Your Company look & feel!</li>

                            <li class="checkmark">
                                Sustainable Web Design to help fight Climate
                                Change.
                            </li>
                        </ul>
                    </div>

                    <div class="starting_at center">
                        <p>
                            Starting at 3.990 Euro.

                            <a
                                title="See  - Awesome Design Demo"
                                href="https://binocle.it/?ref=junglestar"
                            >
                                See Demo.</a
                            >
                        </p>
                    </div>

                    <div class="button_row center">
                        <a
                            title="request more infos"
                            href="mailto:info@junglestar.org?subject=Send me more infos about Junglestar's  package"
                        >
                            <span class="button center"
                                >Let's start talking!</span
                            >
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="offer_content light_bg page_break social_media_management">
        <div class="mean_title mean_title--first">
            <div
                class="wrapper flex flex_cols flex_align_center flex_justify_center"
            >
                <div class="mean_icon">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0.14 841.445 400 400"
                        class="white_color outlined icon--location"
                    >
                        <path
                            d="M314.598 1119.047c-14.498 0-27.47 5.723-37.39 14.688l-136.013-79.166c.953-4.388 1.715-8.776 1.715-13.354 0-4.579-.763-8.966-1.715-13.354l134.488-78.403c10.301 9.539 23.845 15.452 38.915 15.452 31.666 0 57.229-25.562 57.229-57.229 0-31.666-25.563-57.229-57.229-57.229-31.667 0-57.229 25.562-57.229 57.229 0 4.579.763 8.967 1.716 13.354l-134.488 78.404c-10.302-9.54-23.846-15.452-38.916-15.452-31.666 0-57.228 25.562-57.228 57.229s25.562 57.229 57.228 57.229c15.07 0 28.614-5.914 38.916-15.451l135.824 79.358c-.954 4.006-1.527 8.201-1.527 12.398 0 30.712 24.99 55.703 55.703 55.703s55.703-24.991 55.703-55.703-24.989-55.703-55.702-55.703z"
                        ></path>
                    </svg>
                </div>
                <h1 class="center">Social media power for your brand?</h1>
            </div>
        </div>

        <div class="mean_title mean_title--second">
            <div
                class="wrapper flex flex_cols flex_align_center flex_justify_center"
            >
                <div class="mean_icon four_icon_group">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 400 400"
                        class="brand_color outlined icon--instagram"
                    >
                        <path
                            d="M283.999 395.005h-168C54.789 395.005 5 345.21 5 284V115.997C5 54.788 54.789 4.995 115.999 4.995h168C345.203 4.995 395 54.788 395 115.997V284c0 61.21-49.797 111.005-111.001 111.005zm-168-356.576c-42.772 0-77.571 34.794-77.571 77.567V284c0 42.776 34.798 77.571 77.571 77.571h168c42.777 0 77.575-34.795 77.575-77.571V115.997c0-42.773-34.798-77.567-77.575-77.567h-168z"
                        ></path>
                        <path
                            d="M200.001 299.854c-55.06 0-99.859-44.79-99.859-99.855 0-55.056 44.799-99.86 99.859-99.86 55.064 0 99.863 44.804 99.863 99.86.001 55.064-44.798 99.855-99.863 99.855zm0-166.288c-36.627 0-66.427 29.804-66.427 66.432 0 36.63 29.799 66.429 66.427 66.429 36.63 0 66.435-29.799 66.435-66.429 0-36.627-29.805-66.432-66.435-66.432zM328.143 94.426c0 13.256-10.74 23.996-23.995 23.996-13.26 0-23.999-10.74-23.999-23.996s10.739-23.996 23.999-23.996c13.255.001 23.995 10.74 23.995 23.996z"
                        ></path>
                    </svg>

                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 400 400"
                        class="brand_color outlined icon--pinterest"
                    >
                        <path
                            d="M225.345 287.866c-23.74-1.835-33.718-13.607-52.333-24.911-10.237 53.688-22.741 105.16-59.786 132.045-11.448-81.152 16.781-142.096 29.892-206.797-22.348-37.619 2.693-113.34 49.827-94.681 58.011 22.941-50.225 139.88 22.437 154.483 75.859 15.243 106.824-131.627 59.782-179.398C207.196-.369 77.31 67.037 93.281 165.776c3.892 24.139 28.835 31.467 9.965 64.781-43.5-9.637-56.48-43.947-54.811-89.689 2.69-74.876 67.276-127.301 132.056-134.557 81.924-9.167 158.817 30.083 169.434 107.144 11.946 86.983-36.984 181.178-124.58 174.411zm0 0"
                        ></path>
                    </svg>

                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="-189.5 493.5 400 400"
                        class="brand_color outlined icon--twitter"
                    >
                        <path
                            d="M205.5 572.741c-15.341 6.6-30.688 10.723-46.025 12.377 17.321-10.393 29.036-25.075 35.143-44.047-15.842 9.4-32.752 15.833-50.732 19.298-15.84-16.827-35.304-25.241-58.401-25.241-22.107 0-40.954 7.791-56.547 23.385-15.59 15.59-23.385 34.437-23.385 56.54 0 5.938.659 12.043 1.98 18.314-32.666-1.649-63.31-9.857-91.935-24.622-28.624-14.77-52.916-34.441-72.877-59.021-7.26 12.372-10.891 25.817-10.891 40.337 0 13.692 3.217 26.396 9.654 38.11 6.434 11.709 15.096 21.195 25.985 28.456-12.871-.498-24.913-3.879-36.13-10.149v.99c0 19.304 6.063 36.253 18.188 50.855 12.125 14.603 27.428 23.797 45.904 27.591a82.834 82.834 0 0 1-21.035 2.721c-4.62 0-9.652-.409-15.095-1.231 5.114 16.002 14.518 29.154 28.21 39.467 13.694 10.314 29.202 15.629 46.525 15.965-29.035 22.762-62.112 34.144-99.232 34.144-7.095 0-13.527-.323-19.303-.985 37.12 23.919 78.034 35.879 122.743 35.879 28.376 0 55.02-4.494 79.927-13.484 24.915-8.99 46.195-21.035 63.847-36.134 17.651-15.092 32.87-32.456 45.655-52.088 12.783-19.634 22.308-40.13 28.579-61.492 6.271-21.368 9.405-42.77 9.405-64.218 0-4.621-.08-8.085-.249-10.394 15.675-11.38 29.041-25.16 40.092-41.323z"
                        ></path>
                    </svg>

                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 400 400"
                        class="brand_color outlined icon--facebook"
                    >
                        <path
                            d="M363.675 5.001H36.325C19.026 5.001 5 19.025 5 36.326v327.349c0 17.299 14.025 31.324 31.325 31.324h179.49V240.854h-31.821v-56.861h31.821v-36.795c0-26.312 12.496-67.517 67.51-67.517l49.563.208v55.191h-35.964c-5.898 0-14.194 2.951-14.194 15.502v33.463h50.978l-5.842 56.809H282.73V395h80.945C380.976 395 395 380.975 395 363.676V36.326c0-17.301-14.024-31.325-31.325-31.325z"
                        ></path>
                    </svg>
                </div>
                <h2 class="h3 center">
                    We build your image through social engagement!
                </h2>
                <h3 class="center">
                    Instagram, Facebook, Twitter, Pinterest...
                    <br />We'll target and engage real followers.
                    <br />We'll build your brand, <br />authentically growing
                    your audience, <br />directing traffic to your site, <br
                    />increasing sales and customer satisfaction, <br /><strong
                        >leveraging the smartest tools and strategies.</strong
                    >
                </h3>
            </div>
        </div>

        <div class="print_only">
            <div class="starting_at center print_footer">
                <p>Starting at 290 Euro</p>
            </div>
        </div>

        <div class="button_row center">
            <a
                href="mailto:info@junglestar.org?subject=Send me more infos about Junglestar's Social Media Management package"
            >
                <span class="button center">Let's start talking!</span>
            </a>
        </div>
    </div>

    <div class="offer_content light_bg google_my_business">
        <div class="mean_title mean_title--first">
            <div
                class="wrapper flex flex_cols flex_align_center flex_justify_center"
            >
                <div class="mean_icon">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 400 400"
                        class="white_color outlined icon--location"
                    >
                        <path
                            d="M200 33.334C135.5 33.334 83.333 85.5 83.333 150 83.333 237.5 200 366.666 200 366.666S316.667 237.5 316.667 150C316.667 85.5 264.5 33.334 200 33.334zm0 158.332c-23 0-41.667-18.666-41.667-41.666S177 108.334 200 108.334 241.666 127 241.666 150 223 191.666 200 191.666z"
                            fill="none"></path>
                    </svg>
                </div>
                <h1 class="center">
                    Want more customers finding your location?
                </h1>
            </div>
        </div>

        <div class="mean_title mean_title--second">
            <div
                class="wrapper flex flex_cols flex_align_center flex_justify_center"
            >
                <div class="mean_icon">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 400 400"
                        class="brand_color outlined icon--google_my_biz"
                    >
                        <path
                            d="M119.235 34.163h-51.47c-14.117.009-26.324 9.844-29.336 23.636l-.118.425L10 158.853h.226c.018 26.204 21.264 47.441 47.472 47.441 26.219 0 47.474-21.255 47.474-47.474h-.168l14.231-124.657z"
                            fill="none"></path>
                        <path
                            d="M200.01 158.82V34.167h-80.775L105.01 158.853h.162c.018 26.204 21.264 47.441 47.472 47.441 26.219 0 47.473-21.255 47.473-47.474h-.107z"
                            fill="none"></path>
                        <path
                            d="M295.007 158.82L280.785 34.167H200.01v124.686h.108c.017 26.204 21.265 47.441 47.473 47.441 26.218 0 47.472-21.255 47.472-47.474h-.056z"
                            fill="none"></path>
                        <path
                            d="M389.998 158.85l.002-.029h-.008L361.707 58.224l-.118-.425c-3.012-13.792-15.219-23.627-29.334-23.636h-51.47L295 158.853h.054c.018 26.204 21.267 47.441 47.473 47.441 26.209 0 47.456-21.237 47.472-47.441H390l-.002-.003zM342.528 287.438c-.168-2.262-.446-4.325-.844-6.962h-51.785c0 7.244 0 15.146-.028 22.395h30.001a26.096 26.096 0 0 1-10.982 16.745s0-.124-.022-.129a31.422 31.422 0 0 1-12.144 4.74c-4.344.794-8.8.775-13.139-.058a32.788 32.788 0 0 1-12.253-5.312 34.182 34.182 0 0 1-12.047-15.392c-.185-.481-.356-.969-.532-1.461v-.053l.048-.036a33.222 33.222 0 0 1-.019-21.372 34.386 34.386 0 0 1 7.968-12.964 32.364 32.364 0 0 1 32.613-8.493 29.621 29.621 0 0 1 11.868 6.986l10.121-10.123c1.786-1.802 3.641-3.549 5.358-5.413a53.462 53.462 0 0 0-17.729-10.979 55.746 55.746 0 0 0-38.332.124 55.41 55.41 0 0 0-29.936 26.827 54.54 54.54 0 0 0-4.793 13.85c-5.732 28.491 11.652 56.533 39.718 64.071 9.176 2.458 18.929 2.397 28.175.296a49.938 49.938 0 0 0 22.551-11.718c6.657-6.124 11.429-14.285 13.929-22.953a63.886 63.886 0 0 0 2.235-22.616z"
                            fill="none"></path>
                        <path
                            d="M109.974 115.349h-.007l-4.963 43.472h.011l4.959-43.472zm232.552 90.945c-26.148 0-47.356-21.144-47.468-47.267-.111 26.123-21.318 47.267-47.467 47.267-26.208 0-47.456-21.237-47.473-47.441h-.001c-.017 26.204-21.264 47.441-47.473 47.441-26.208 0-47.455-21.237-47.472-47.441h-.001c-.018 26.204-21.265 47.441-47.473 47.441a47.261 47.261 0 0 1-28.609-9.593v155.967c0 7.273 5.897 13.169 13.172 13.169h306.157c7.273 0 13.171-5.896 13.171-13.169V202.299a47.316 47.316 0 0 1-19.063 3.995z"
                            fill="none"></path>
                    </svg>
                </div>
                <h2 class="center">
                    We make sure your business is on the map!
                </h2>
                <h3 class="center">
                    Using Google My Business, <br />we'll submit to Google all
                    your important details, <br />phone number, working hours,
                    products, location, <br />in a way that will get noticed on
                    a Google search.
                    <br />This ultra convenient offer guarantees
                    <br />that You will be well listed on Google. It also <br
                    /><strong>includes a one page website and a blog!</strong>
                </h3>
            </div>
        </div>

        <div class="print_only">
            <div class="starting_at center print_footer">
                <p>Starting at 290 Euro</p>
            </div>
        </div>

        <div class="button_row center">
            <a
                href="mailto:info@junglestar.org?subject=Send me more infos about Junglestar's Google Biz package"
            >
                <span class="button center">Let's start talking!</span>
            </a>
        </div>
    </div>

    <div class="print_only">
        <div class="print_footer">
            See this offer online at: http://localhost:4000/offer/
        </div>
    </div>
</Layout>
