---
//import Welcome from '../components/aaa.astro';
import Layout from "@layouts/Layout.astro";
import Header from "@components/HeaderSlotted.astro";
import Gmap from "@components/Gmap.astro";
// Page metadata
const pageTitle = "Junglestar | Pricing";
const pageDescription =
  "Flexible one-stop web agency. We design, code & deploy — from webstores to web apps. Packed solutions & custom designs for great user experiences.";
const pageSubtitle = "Check our packages!";
---

<style>
  .brand_color {
    color: var(--brand);
  }

  .light_bg,
  .page_content.light_bg {
    background-color: #c3daf1;
  }

  .mean_title {
    color: var(--brand);
    min-height: 50dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .mean_title.mean_title--first {
    background-color: black;
  }
  .mean_title.mean_title--second {
    margin-top: 2rem;
  }
  .mean_title.mean_title--first h1,
  .mean_title.mean_title--first h2,
  .mean_title.mean_title--first h3 {
    color: white;
  }

  .mean_icon {
    min-width: 120px;
    padding-top: 10px;
    width: 20vw;
    max-width: 240px;
  }
  .mean_icon.four_icon_group {
    max-width: 80vw;
    display: flex;
    width: 80vw;
  }
  @media (min-width: 601px) {
    .mean_icon.four_icon_group {
      width: 70vw;
    }
  }
  @media (min-width: 821px) {
    .mean_icon.four_icon_group {
      width: 60vw;
    }
  }
  @media (min-width: 1025px) {
    .mean_icon.four_icon_group {
      width: 50vw;
    }
  }
  @media (min-width: 1025px) {
    .mean_icon.four_icon_group {
      width: 50vw;
    }
  }
  @media (min-width: 1025px) {
    .mean_icon.four_icon_group {
      width: 50vw;
    }
  }

  .top_pad--big {
    padding-top: 8dvw;
  }
  .looper__link {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .product_text h2,
  .product_text h3 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .color_black {
    color: #000 !important;
  }

  /*h2,
  .h2 {
    font-size: 3.5dvw;
    line-height: 1.1;
  }

  h4,
  .h4 {
    font-size: 2.5dvw;
    line-height: 1.1;
  }

  @media (max-width: 800px) {
    h4,
    .h4 {
      font-size: 20px;
    }
  }*/

  .product_grid {
    margin: 0 8dvw;
    display: flex;
    flex-direction: column;
    gap: calc(var(--space_inline) / 2);
    line-height: 1.15;
  }

  @media (min-width: 1025px) {
    .product_grid {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      gap: calc(var(--space_inline) / 2);
    }
  }

  .product_text {
    margin-block: calc(var(--space_block) / 2);
    padding-inline: calc(var(--space_inline) / 2);
  }

  .selling_points {
    font-size: 1rem;
    margin-bottom: calc(var(--space_block) / 2);
    max-width: 400px;
    margin-inline: auto;
    ul {
      margin-left: calc(var(--space_inline) * 2);
      margin-right: calc(var(--space_inline) * 1);
    }
    li {
      padding-left: calc(var(--space_inline) / 1.5);
    }
    li::marker {
      content: "✓";
      color: limegreen;
      font-weight: bold;
    }
  }

  .button_row {
    padding-top: 0.125rem;
    padding-bottom: 0.5rem;
    width: 100%;
    display: block;
    a {
      color: var(--brand);
      text-decoration: none;
      position: relative;
      display: inline-block;
    }
  }

  .product_text .button_row {
    padding-inline: calc(var(--space_inline) / 1);
    text-align: center;
  }

  /*.button {
    line-height: 32px;
    padding: 5px 15px;
    border: 2px solid var(--brand);
  }*/

  four_icon_group svg {
    padding: 4px;
    max-height: 210px;
  }

  small {
    display: block;
    font-size: 50%;
  }

  .starting_at {
    font-size: 66%;
  }
</style>

<Layout title={pageTitle} description={pageDescription}>
  <div slot="landing_screen">
    <Header>{pageSubtitle}</Header>
  </div>

  <div class="print_only">
    <div class="print_imperatif">Make life easy for your customers!</div>
    <div class="print_title">Junglestar</div>
    <div class="print_subtitle">
      Junglestar can make you a fast-loading website, crafted to out-perform your competitors.
    </div>
  </div>

  <div class="light_bg offer_content">
    <div class="scrolltarget">
      <div class="mean_title mean_title--first">
        <div class="wrap flex flex_cols flex_align_center flex_justify_center">
          <div class="mean_icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0.5 400.5 400 400"
              class="white_color outlined icon--desperate"
            >
              <path
                fill="none"
                d="M86.009 645.221c-19.266-9.706-26.963-33.234-17.247-52.43 9.65-19.2 33.167-26.917 52.456-17.157 19.23 9.77 26.891 33.231 17.208 52.424-9.745 19.196-33.25 26.933-52.417 17.163z"
              ></path>
              <path
                fill="none"
                d="M80.69 663.069h73.136l.551-62.44c.567-23.406 3.994-40.537 14.871-54.805 9.811-12.934 19.678-28.575 61.664-41.691 62.592-19.598 112.234 12.825 118.185 16.549 19.211 12.076 25.046 37.433 13.008 56.695-2.064 3.272-4.615 6.005-7.336 8.463-.329.435-.435.967-.819 1.344l-65.993 72.082h80.619c12.1-.006 21.914 9.793 21.925 21.894.014 12.113-9.796 21.942-21.909 21.957H238.129a21.958 21.958 0 0 1-20.087-13.109c-2.456-5.583-2.29-11.735-.053-17.194.248-4.447 1.171-8.897 3.695-12.911l49.007-79.09c-6.078-.209-12.482.37-18.851 2.466-18.576 5.936-31.843 18.311-31.868 18.311 0 0-2.253 2.194-3.349 3.331l-21.436 81.814c-.167.694-.589 1.184-.807 1.808-.354 1-.792 1.966-1.313 2.889a19.247 19.247 0 0 1-2.706 3.92c-.667.75-1.25 1.499-2.007 2.151-1.299 1.169-2.752 2.029-4.274 2.829-.783.431-1.456.908-2.279 1.228-2.46.955-5.061 1.553-7.817 1.553H80.69c-12.092 0-21.917-7.388-21.917-19.49.003-12.102 9.829-20.554 21.917-20.554zm-36.261-23.691l.027.03s-4.452 19.319-12.473 25.268c-8.046 5.979-15.625 2.733-19.043-1.881l-.027-.029c-3.424-4.616-4.086-12.48 3.957-18.459 8.019-5.951 27.559-4.929 27.559-4.929zm5.734-28.081l-.016.046S33.172 621.614 23.335 620c-9.884-1.605-12.85-9.305-11.929-14.969l.011-.055c.924-5.667 6.11-11.58 15.99-9.961 9.845 1.6 22.756 16.282 22.756 16.282z"
              ></path>
            </svg>
          </div>

          <h1 class="center">Is your website slow?</h1>
          <h2 class="h3 center"> Do I need to pinch & zoom a PDF to see your pricelist? </h2>
        </div>
      </div>

      <div class="mean_title mean_title--second">
        <div class="wrap flex flex_cols flex_align_center flex_justify_center">
          <div class="mean_icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0.5 400.5 400 400"
              class="brand_color outlined icon--jumping"
            >
              <path
                fill="none"
                d="M356.654 441.236c7.189-6.6 7.685-17.773 1.105-24.983-6.564-7.216-17.731-7.701-24.961-1.129l-106.497 97.28-170.371-.411c-9.767.203-17.518 8.288-17.313 18.054.199 9.479 7.835 17.114 17.313 17.313h103.846v63.846l-72.438.069a21.25 21.25 0 0 0-17.462 9.21 21.21 21.21 0 0 0-2.326 19.616l32.428 84.505a21.236 21.236 0 0 0 19.815 13.632c2.532 0 5.102-.464 7.599-1.429 10.934-4.182 16.406-16.436 12.223-27.37a.182.182 0 0 0-.011-.028l-21.378-55.692 95.098-.094.121 58.271-83.782 38.161c-10.61 4.985-15.169 17.628-10.184 28.238 4.901 10.43 17.229 15.045 27.775 10.396l96.246-43.842a21.174 21.174 0 0 0 12.402-19.36l-.331-191.948 101.083-92.305z"
              ></path>
              <path
                fill="none"
                d="M219.338 472.87c0 19.317-15.66 34.995-34.963 34.995-19.329 0-35.002-15.678-35.002-34.995.002-19.329 15.673-34.999 35.002-34.999 19.299 0 34.963 15.68 34.963 34.999z"
              ></path>
            </svg>
          </div>

          <h1 class="center">We can fix that.</h1>
          <h2 class="h3 center"> We offer all-inclusive packages for any budget! </h2>
        </div>
      </div>
    </div>

    <div class="product_grid top_pad--big">
      <div id="landing-page" class="looper__link card bestvalue" title="LANDING PAGE package">
        <div class="product_text">
          <h2 class="center">Compact Website</h2>

          <h3 class="h4 center color_black">All-included package</h3>

          <h4 class="h3 center">
            Quality website template. Name, Hosting and SSL included for one whole year. <small>
              50 Euro/year after that.
            </small>
          </h4>

          <p class="center">
            We load your data, process everything and produce a clean landing page ready to hit. The perfect digital
            brochure with zero maintenance cost!
          </p>

          <div class="selling_points">
            <div class="center">GET:</div>

            <ul>
              <li class="checkmark">Responsive landing page.</li>

              <li class="checkmark">Phone Ready design.</li>

              <li class="checkmark">Social media friendly.</li>

              <li class="checkmark">SEO optimised.</li>

              <li class="checkmark">Domain name.</li>

              <li class="checkmark">Hosting on global CDN.</li>

              <li class="checkmark">Secure SLL/https.</li>

              <li class="checkmark">Sustainable Web Design to help the planet. </li>
            </ul>
          </div>

          <div class="starting_at center">
            <p
              >Starting at 490 Euro.
              <a class="demo_link" title="See - Compact Website Demo" href="https://amazing-single.junglestar.org/">
                See Demo.</a
              >
            </p>
          </div>

          <div class="button_row center">
            <a
              class="button CTAbutton"
              title="request more infos"
              href="mailto:info@junglestar.org?subject=Send me more infos about Junglestar's Landing package"
            >
              Let's start talking!
            </a>
          </div>
        </div>
      </div>

      <div id="full-site" class="looper__link card bestseller" title="FULL SITE package">
        <div class="product_text">
          <h2 class="center">Amazing Website</h2>

          <h3 class="h4 center color_black">All-included package</h3>

          <h4 class="h3 center">
            Quality website template. Name, Hosting and SSL included for one whole year. <small>
              50 Euro/year after that.
            </small>
          </h4>

          <p class="center">
            We load your look and products data, process everything and produce a clean performant website ready to
            compete.
          </p>

          <div class="selling_points">
            <div class="center">GET:</div>

            <ul>
              <li class="checkmark">Responsive full website.</li>

              <li class="checkmark">Social media friendly.</li>

              <li class="checkmark">SEO optimised.</li>

              <li class="checkmark">Domain name.</li>

              <li class="checkmark">Hosting on global CDN.</li>

              <li class="checkmark">Secure SLL/https.</li>

              <li class="checkmark">Data entry.</li>

              <li class="checkmark">Adapted to your existing look.</li>

              <li class="checkmark">Editing system for staff.</li>

              <li class="">Sustainable Web Design to help the planet.</li>
            </ul>
          </div>

          <div class="starting_at center">
            <p>
              Starting at 990 Euro.

              <a class="demo_link" title="See - Amazing Website Demo" href="https://amazing-days.junglestar.org/">
                See Demo.</a
              >
            </p>
          </div>

          <div class="button_row center">
            <a
              class="button CTAbutton"
              title="request more infos"
              href="mailto:info@junglestar.org?subject=Send me infos about Junglestar's Full Site package"
            >
              Let's start talking!
            </a>
          </div>
        </div>
      </div>

      <div id="custom" class="looper__link card" title="CUSTOM package">
        <div class="product_text">
          <h2 class="center">Awesome Design</h2>

          <h3 class="h4 center color_black">All-included package</h3>

          <h4 class="h3 center">
            Customised design for your needs. Name, Hosting and SSL included for one whole year. <small>
              50 Euro/year after that.
            </small>
          </h4>

          <p class="center">
            We craft a special design for your brand, produce & develop a well thought user-experience by embracing your
            existing look and brand identity.
          </p>

          <div class="selling_points">
            <div class="center">GET:</div>

            <ul>
              <li class="checkmark">Responsive full website.</li>

              <li class="checkmark">Social media friendly.</li>

              <li class="checkmark">SEO optimised.</li>

              <li class="checkmark">Domain name.</li>

              <li class="checkmark">Hosting on global CDN.</li>

              <li class="checkmark">Secure SLL/https.</li>

              <li class="checkmark">Data entry.</li>

              <li class="checkmark">Editing system for staff.</li>

              <li class="checkmark">Custom designed architecture</li>

              <li class="checkmark">Customised functionalities.</li>

              <li class="checkmark">Your Company look & feel!</li>

              <li class="checkmark">Sustainable Web Design to help the planet. </li>
            </ul>
          </div>

          <div class="starting_at center">
            <p>
              Starting at 3.990 Euro.

              <a class="demo_link" title="See  - Awesome Design Demo" href="https://binocle.it/?ref=junglestar">
                See Demo.</a
              >
            </p>
          </div>

          <div class="button_row center">
            <a
              class="button CTAbutton"
              title="request more infos"
              href="mailto:info@junglestar.org?subject=Send me more infos about Junglestar's  package"
            >
              Let's start talking!
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <Gmap />

  <div class="print_only">
    <div class="print_footer"> See this offer online at: https://junglestar.org/offer/ </div>
  </div>
</Layout>
