---
//Carbon.astro
---

<div id="wcb" class="carbonbadge"></div>

<script>
    import { initWebsiteCarbon } from "@utils/carbon";

    // Run after DOM is ready
    document.addEventListener("DOMContentLoaded", () => {
        initWebsiteCarbon();
    });
</script>
