---
// @components/Carbon.astro
---

<style></style>

<div class="carbon">
  <p>
    This website carbon is ~0.02g of CO2/view.
    <span class="show_on_phones"><br /></span>Cleaner than 98% of pages tested.
    <a href="https://websitecarbon.com/" target="_blank" rel="noopener"><strong>Know more</strong></a>
  </p>
</div>
