---
import type { CollectionEntry } from "astro:content";
interface Props {
    post: CollectionEntry<"designConcepts">;
}

// `post` will match your 'blog' collection schema type
const { post } = Astro.props;
---

<style>
    .intro_card {
        padding-block: calc(var(--space) * 3);
    }
    .button {
        color: var(--white);
        border-color: var(--white);
    }
    .intro_image {
        transform: scale(1.1);
        padding-bottom: calc(var(--space) * 1);
    }
    .intro_cta {
        padding-top: calc(var(--space) * 1);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .intro_titles {
        padding-inline: calc(var(--space_) * 2.5);
        h2 {
            color: var(--brand_light);
        }
    }

    .intro_content {
        font-size: var(--font_rem);
        padding-top: calc(var(--space) * 1);
        /*padding-inline: calc(var(--space_) * 0.25);*/
        padding-inline: calc(var(--space_) * 2.5);
        text-justify: distribute;
    }
</style>

<article class="intro_card">
    {
        data.image && (
            <div class="intro_image">
                <Image src={data.image.src} alt={data.image.alt} width={2500} />
            </div>
        )
    }
    <div class="intro_header">
        <div class="intro_titles">
            <h2 class="intro_title">{data.title}</h2>
            {data.subtile && <h3 class="intro_subtitle">{data.subtile}</h3>}
        </div>
    </div>

    {
        showContent && (
            <div class="intro_content">
                <Content />
            </div>
        )
    }
</article>
