---
import Carbon from "@components/Carbon.astro";
import Contactlinks from "@components/ContactLinks.astro";
import License from "@components/License.astro";
import FooterLogo from "@components/LogoFull.astro";
import Nav from "@components/Nav.astro";
// src/components/Footer.astro
import * as siteData from "@data/site.json";

const currentYear = new Date().getFullYear();
---

<style>
  footer {
    width: 100%;
    min-height: var(--viewport_height);
    padding-top: calc(var(--space_block) * 2);
    padding-bottom: calc(var(--space_block) / 2);
    padding-inline: var(--space_inline);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    bottom: 0;

    .contact_links a,
    a.footer_logo,
    a.no_underline {
      text-decoration: none;
    }

    a:not(.footer_logo):not(.no_underline) {
      color: var(--link_color);
      text-decoration-thickness: 2px;
    }

    a:hover {
      color: var(--link_color_hover);
    }
  }

  .copy {
    font-size: calc(var(--font_clamp) * 0.88);
    text-align: center;

    p {
      padding: 0;
      margin: 0;
    }

    a {
      text-decoration: none;
    }
  }

  .copy .small_pad_top {
    padding-top: calc(var(--space_block) / 2.5);
  }

  details summary {
    user-select: none;
    list-style: none;
    cursor: pointer;
    padding-bottom: var(--space_block);
  }

  details summary::-webkit-details-marker {
    display: none;
  }

  details summary::after {
    content: " +";
    margin-left: 0.5em;
    font-size: 130%;
  }

  details[open] summary::after {
    content: " −";
  }

  details {
    padding-bottom: calc(var(--space_block) / 2);
  }

  .brand_background {
    background-color: var(--brand);
  }

  .framed {
    min-width: 340px;
    width: 400px;
    max-width: 480px;
  }

  @media (min-width: 510px) {
    .framed {
      min-width: 480px;
      width: 480px;
      padding-inline: 0;
    }
  }

  small {
    padding-inline: var(--space_inline);
  }
</style>

<footer>
  <div class="flexcol brand_background framed">
    <FooterLogo />
    <Contactlinks />
    <Nav />

    <details class="brand_background">
      <summary class="copy small_pad_top">
        &copy; 2012-{currentYear}
        {siteData.brand}.org
      </summary>
      <small>
        <Carbon />
        <License />
      </small>
    </details>
  </div>
</footer>
