---
// @components/FoterLogo.astro
import * as siteData from "@data/site.json";
---

<style>
  .footer_logo {
    transform: rotate(0deg);
  }
  .brand {
    text-transform: uppercase;
    font-size: 150%;
  }
</style>
<a
  class="footer_logo no_underline hide_on_phones"
  title="Clicking this link will send you back to junglestar.org homepage"
  href="/"
>
  <div class="brand">
    {siteData.brand_full}
  </div>
</a>
