---
// src/components/Intro.astro
// You can import SVG components here if you create them
// import BlastingBrandsIcon from '@svg/1.svg';
// import SuperstitionsIcon from '@svg/2.svg';
// import CrazyClaimsIcon from '@svg/3.svg';
---

<div class="cover js_scrollto01">
    <div
        class="wrapper wrapper--slim flex flex_cols flex_align_center full_height flex_justify_center"
    >
        <!-- Hi-there -->
        <div class="animated_svg_wrap">
            <svg
                class="jeistar"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="-10 -10 1020 1020"
                id="hi-there"
                onclick="hi.reset().play();"
            >
                <path
                    class="circlej"
                    data-async=""
                    data-start="1"
                    data-duration="80"
                    fill="none"
                    stroke="hsla(209, 100%, 70%, 1)"
                    stroke-width="8"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-miterlimit="10"
                    d=" M839,132.8V564c0,115.3-30.5,200-91.2,254c-60.8,54-141.2,81.8-241.2,82.8c-102.2,1-184.2-23.8-246-74.5 C198.8,775.3,168,710,168,630c0-35.2,17.2-53,51.5-53.5c36.5-0.2,54.8,13,54.8,40c0,59.2,20.8,105.8,62,139.5 c41.2,33.8,97,50.5,167,49.7c73-0.8,129.5-21,169.2-61c40-39.8,60-99.8,60-179.8V57.5C663,20.8,584,0,500,0C224.2,0,0,224.2,0,500 s224.2,500,500,500s500-224.2,500-500C1000,355,938,224.2,839,132.8z"
                    style="stroke-dasharray: 5854, 5856; stroke-dashoffset: 0;"
                ></path>

                <path
                    class="circlej"
                    data-async=""
                    data-start="1"
                    data-duration="80"
                    fill="none"
                    stroke="#fff"
                    stroke-width="8"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-miterlimit="10"
                    d=" M839,132.8V564c0,115.3-30.5,200-91.2,254c-60.8,54-141.2,81.8-241.2,82.8c-102.2,1-184.2-23.8-246-74.5 C198.8,775.3,168,710,168,630c0-35.2,17.2-53,51.5-53.5c36.5-0.2,54.8,13,54.8,40c0,59.2,20.8,105.8,62,139.5 c41.2,33.8,97,50.5,167,49.7c73-0.8,129.5-21,169.2-61c40-39.8,60-99.8,60-179.8V57.5C663,20.8,584,0,500,0C224.2,0,0,224.2,0,500 s224.2,500,500,500s500-224.2,500-500C1000,355,938,224.2,839,132.8z"
                    style="stroke-dasharray: 5854, 5856; stroke-dashoffset: 0;"
                ></path>

                <path
                    class="star"
                    data-async=""
                    data-start="1"
                    data-delay="20"
                    data-duration="50"
                    fill="none"
                    stroke="hsla(209, 100%, 70%, 1)"
                    stroke-width="8"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-miterlimit="10"
                    d="M122.5,459.8L260.2,328.5L227.5,143L397.8,230.2L568,142.5L535.8,327.8L673.5,459L483.2,486.2L398.2,655L313,486.5Z"
                    style="stroke-dasharray: 1903, 1905; stroke-dashoffset: 0;"
                ></path>

                <path
                    class="star"
                    data-async=""
                    data-start="1"
                    data-delay="20"
                    data-duration="50"
                    fill="none"
                    stroke="#fff"
                    stroke-width="8"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-miterlimit="10"
                    d="M122.5,459.8L260.2,328.5L227.5,143L397.8,230.2L568,142.5L535.8,327.8L673.5,459L483.2,486.2L398.2,655L313,486.5Z"
                    style="stroke-dasharray: 1903, 1905; stroke-dashoffset: 0;"
                ></path>
            </svg>
        </div>

        <div class="cover__title">
            <div class="btn">
                <div class="name"><h1>junglestar</h1></div>
                <div class="desc">
                    We believe in making life easy for you and your customers.
                </div>
            </div>
        </div>
    </div>
</div>
