---
// src/components/Nav.astro
//
// Helper to check if current page
//const currentPath = Astro.url.pathname;
---

<style>
  nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: calc(var(--space_block) * 1);
  }

  .button {
    text-transform: uppercase;
    width: 80svw;
    max-width: 480px;
    border-color: var(--white);
    background-color: var(--background_blackT10);
  }

  @media (min-width: 510px) {
    .button {
      background-color: var(--background_blackT05);
    }
  }
  @media (min-width: 1100px) {
    .button {
      background-color: transparent;
    }
  }
</style>

<nav class="flexcolo" role="menu">
  <a class="button page_title" role="menuitem" title="Design and development" href="/design"> Communication Design </a>

  <a class="button page_title" role="menuitem" title="Content production and management" href="/content">
    Content production
  </a>

  <a class="button page_title" role="menuitem" title="Let's put your biz on the map" href="/discoverability">
    Your biz on the map
  </a>

  <a class="button page_title" role="menuitem" title="Discover what we can do for your company" href="/services">
    Services
  </a>

  <a class="button page_title" role="menuitem" title="Packages offer" href="/offer"> Website Pricing </a>
</nav>
