---
// src/components/Nav.astro

// Helper to check if current page
const currentPath = Astro.url.pathname;
---

<style>
    .nav_footer {
        display: flex;
        flex-direction: column;
        gap: calc(var(--spaceI) / 2);
        margin-block: 24svw;
        text-align: right;
    }
</style>

<nav class="wrapper nav_footer" role="menu">
    <a
        class="button center"
        role="menuitem"
        title="Design and development"
        href="/design/"
    >
        <span class="page_title">Communication Design</span>
    </a>

    <a
        class="button center"
        role="menuitem"
        title="Content production and management"
        href="/content/"
    >
        <span class="page_title">Content production</span>
    </a>

    <a
        class="button center"
        role="menuitem"
        title="Packages offer"
        href="/offer/"
    >
        <span class="page_title">Website Pricing</span>
    </a>
</nav>
