details summary {
  position: relative;
  user-select: none;
  list-style: none;
  cursor: pointer;
  color: currentColor;
  min-height: var(--tap_size);
  height: max(var(--tap_size), fit-content);
  margin-bottom: var(--space_block);
  border-bottom: 1px solid currentColor;
  span {
    display: block;
    width: 100%;
    line-height: 1;
  }
}

details summary::-webkit-details-marker {
  display: none;
}

details summary::after {
  content: " +";
  position: absolute;
  top: 0;
  right: 0;
  font-size: 150%;
  color: currentColor;
}

details[open] summary::after {
  content: " −";
}

details[open] summary {
  padding-bottom: 0;
  border-bottom: 1px solid transparent;
}
details,
details[open] {
  width: 100%;
  text-align: left;
}

details {
  padding-bottom: calc(var(--space_block) / 2);
  border-radius: var(--radius);

  .details_reveal {
    padding-block: var(--space_block);
    font-size: calc(var(--font_clamp) * 0.88);
    max-width: 31ch;
    width: fit-content;
    margin: 0 auto;
  }
}
