details summary {
	position: relative;
	top: calc(var(--space_block) / 2);
	user-select: none;
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: var(--space_inline);
	cursor: pointer;
	color: currentColor;
	min-height: var(--tap_size);
	height: max(var(--tap_size), fit-content);
	width: 100%;
	padding-top: calc(var(--space_block) / 2);
	border-top: 1px solid rgb(from currentColor r g b / 50%);
	transition: background-color 0.2s ease;
}

details summary::-webkit-details-marker {
	display: none;
}

details summary::after {
	content: "+";
	/*position: absolute;
  top: -12px;
  right: 0px;*/
	font-size: 150%;
	color: currentColor;
	transition: transform 0.2s ease;
}

details[open] summary::after {
	content: " −";
	transform: rotate(180deg);
}

details[open] summary {
	margin-bottom: var(--space_block);
	border-top: 1px solid rgb(from currentColor r g b / 60%);
}
details,
details[open] {
	width: 100%;
	text-align: left;
}

details {
	padding-bottom: calc(var(--space_block) / 2);
	border-radius: var(--radius);

	.details_reveal {
		padding-block: var(--space_block);
		font-size: calc(var(--font_clamp) * 0.88);
		max-width: 31ch;
		width: fit-content;
		margin: 0 auto;
	}
}
