.grid_projects {
  padding-top: var(--space_block);
  display: grid;

  grid-template-columns: 1fr;
  gap: var(--space_block) var(--space_inline);
}

@media (width > 370px) {
  .grid_projects {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }
}

.grida {
  position: initial;
  display: grid;
  grid-template-rows: 33svh 33svh 33svh 100vh;
  place-content: stretch center;
  gap: 1rem;
  padding-block: var(--space_block);

  height: 200vh;
  padding-block: calc(var(--space_block) * 2);
  .brand_name {
    align-self: center;
    /*transform: rotate(-90deg);
    transform-origin: center -133%;*/
  }
}
.on_scroll_msg {
  place-self: end center;
  position: relative;
  top: calc(25svh * -1);
  > * {
    padding-bottom: calc(var(--space_block) / 3.75);
  }
}

.grid_main {
  position: initial;
  display: grid;
  padding: 0;
  margin: 0;
}
