/* SVG UTILITIES */
svg.outlined {
  fill: transparent;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

svg.brand_color {
  stroke: var(--brand);
}

svg.white_color {
  stroke: var(--white);
}

.desperate {
  color: var(--white);
  svg.icon--desperate {
    stroke: var(--white);
    fill: var(--white);
  }
}
