---
import * as siteData from "@data/site.json";
---

<a
    class="CTAbutton mail"
    href={`mailto:${siteData.email}`}
    title="Get In Touch. Send us an email"
>
    <small class="">Mail Us</small>
</a>
