---
// Site configuration
const currentYear = new Date().getFullYear();
const siteName = "Junglestar";
---

<style>
    a {
        text-decoration: underline;
    }
</style>
<a class="footer_link" href="/about"> About us </a>
<div class="copy">
    &copy; 2012-{currentYear}
    {siteName}.org. All rights reserved.
</div>
