---
// Site configuration
const currentYear = new Date().getFullYear();
const siteName = "Junglestar";
---

<div class="copy">
    <p class="center">
        <small>
            &copy; {currentYear}
            {siteName}.org | All rights reserved</small
        >
    </p>
</div>
