---
// Site configuration
const currentYear = new Date().getFullYear();
const siteName = "Junglestar";
import * as repoData from "package.json";
---

<style>
    .copy {
        font-size: 75%;
        padding-top: calc(var(--spaceI) * 1);
        padding-bottom: 0;
    }
</style>
<div class="copy">
    <p class="center">
        <small>
            &copy; 2012-{currentYear}
            {siteName}.org | v{repoData.version} | All rights reserved</small
        >
    </p>
</div>
