---
// Site configuration
const currentYear = new Date().getFullYear();
import * as siteData from "@data/site.json";
---

<div class="copy">
    &copy; 2012-{currentYear}
    {siteData.brand}.org. This website <a href={siteData.repo}> source code </a>
    is licensed under

    <a href={siteData.license_url}>CC BY 4.0 </a>
</div>
