---
// Site configuration
const currentYear = new Date().getFullYear();
import * as siteData from "@data/site.json";
---

<div class="copy">
    <p>
        &copy; 2012-{currentYear}
        {siteData.brand}.org | <a href={siteData.repo}> Source</a> licensed under
        <a href={siteData.license_url}> CC BY 4.0 </a>
    </p>
</div>
