---
// src/components/Footer.astro
import Nav from "@footer/Nav.astro";
import Qr from "@footer/Qr.astro";
import Mail from "@footer/Mail.astro";
import Copyright from "@footer/Copyright.astro";
import Logo from "@svgs/logo_stroke.svg";
import * as siteData from "@data/site.json";
import "@footer/footer.css";

const siteEmail = "info@junglestar.org";
---

<footer class="">
    <a
        title="clicking this link will send you back to this junglestar.org homepage"
        href="/"
        class="footer_icon action_button back_home"
    >
        <Logo />
        <div class="action_title site_name">
            {siteData.brand} Agency
        </div>
    </a>

    <Nav />

    <div class="flexcolo abso">
        <Copyright />
        <div class="flexro nopad">
            <Mail />
            <Qr />
        </div>
    </div>
</footer>
