footer {
    width: 100%;
    position: sticky;
    bottom: 0;
    min-height: 100vh;
    padding-block: var(--space);
    min-height: 100svh;
    height: 100svh;
    padding-top: calc(var(--space) * 5);
    padding-bottom: var(--space);
    padding-inline: var(--space_);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        font-size: 2.33svh;
        color: var(--white);
    }

    svg {
        display: inline;
        height: 5svh;
    }
    svg.logo {
        height: 11svh;
    }
}

.copy {
    font-size: var(--font_rem);
}

.abso {
    position: absolute;
    bottom: 1rem;
}

.flexcolo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: calc(var(--space) / 2);
    padding: 0 !important;
    margin: 0 !important;
}

.flexro {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calc(var(--space) / 2);
    padding: 0 !important;
    margin: 0 !important;
}

.space_between {
    justify-content: space-between;
}

.footer_logo {
    padding-top: calc(var(--space) * 2);
}

.brand {
    text-transform: uppercase;
    padding-block: calc(var(--space) * 0.55);
    font-weight: var(--weight);
}
.undies {
    position: relative;
}
