---
// src/components/Footer.astro
import Nav from "@components/Nav.astro";
import Qr from "@footer/Qr.astro";
import Copyright from "@footer/Copyright.astro";
import Logo from "@svgs/logo_stroke.svg";
import * as siteData from "@data/site.json";

const siteEmail = "info@junglestar.org";
---

<style>
    .white {
        color: var(--white);
    }
    footer {
        width: 100%;
        position: sticky;
        bottom: 0;
        min-height: 100vh;
        padding-block: var(--space|);
        padding-inline: var(--space_);
        color: var(--white);
        display: flex;
        flex-direction: column;
        align-items: center;
        a {
            font-size: 2.33svh;
            color: var(--white);
        }

        svg {
            display: inline;
            height: 5svh;
        }
        svg.logo {
            height: 11svh;
        }
        .copy {
            font-size: 75%;
            padding: calc(var(--space) * 2);
        }
        .qr {
            padding: var(--space|) var(--space_);
            font-size: 75%;
            width: 100svw;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            svg {
                width: max-content;
                height: clamp(100px, 30svw, 300px);
            }
        }

        .mail {
            padding: var(--space|) var(--space_);
            display: flex;
            flex-direction: column;
            justify-content: start;
            width: fit-content;
            svg {
                width: max-content;
            }
        }
    }

    .footer_block {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
        filter: grayscale(100%);
        a:hover {
            filter: grayscale(0%);
        }
    }

    .footer_icon {
        padding-top: calc(var(--space) * 2);
    }
    .site_name {
        text-transform: uppercase;
        padding-block: calc(var(--space) * 0.55);
        font-weight: 200;
    }
    .contacts {
        width: 100svw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
</style>

<footer class="footer">
    <a
        title="clicking this link will send you back to this junglestar.org homepage"
        href="/"
        class="footer_icon action_button back_home"
    >
        <Logo />
        <div class="action_title revealed site_name">{siteData.brand}</div>
    </a>

    <Nav />

    <div class="contacts">
        <a class="mail" href={`mailto:${siteEmail}`} title="send us an email">
            <svg class="email" viewBox="0 0 24 24">
                <path
                    fill="currentColor"
                    d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"
                ></path>
            </svg>
            <span class="revealed">Get in touch.</span>
        </a>
    </div>

    <Qr />

    <Copyright />
</footer>
