footer {
    width: 100%;
    position: sticky;
    bottom: 0;
    min-height: 100vh;
    padding-block: var(--space);
    min-height: 100svh;
    height: 100svh;
    padding-top: calc(var(--space) * 5);
    padding-bottom: var(--space);
    padding-inline: var(--space_);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        font-size: 2.33svh;
        color: var(--white);
        text-decoration-thickness: 2px;
    }

    svg:not(.hide) {
        display: inline;
        height: 5svh;
    }
    svg.logo {
        height: 11svh;
    }
}

.copy,
.copy a {
    font-size: calc(var(--font_size) / 1.5);
}

.footer_link {
    font-size: var(--font_size);
}

.abso {
    position: absolute;
    bottom: calc(var(--space) * 2);
}

.flexcolo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: calc(var(--space) / 2);
    padding: 0 !important;
    margin: 0 !important;
}

.flexcolo.abso {
    gap: calc(var(--space) / 8);
}

.flexro {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calc(var(--space) / 2);
    padding: 0 !important;
    margin: 0 !important;
}

.space_between {
    justify-content: space-between;
}

.footer_logo {
    padding-top: calc(var(--space) * 2);
}

.brand {
    text-transform: uppercase;
    padding-block: calc(var(--space) * 0.55);
    font-weight: var(--weight);
}
.undies {
    position: relative;
}
.CTAbutton {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: fit-content;
    svg {
        width: max-content;
    }
}
.qr {
    /*LINK*/
    padding: 0;
    width: 100svw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    svg {
        width: max-content;
        height: 48px;
    }
}
.qr.expanded {
    padding: var(--space) var(--space_);
    font-size: 75%;
    width: 100svw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    svg {
        width: max-content;
        height: clamp(100px, 30svw, 300px);
    }
}
