---
import * as siteData from "@data/site.json";
---

<a
    class="CTAbutton mail"
    href={`mailto:${siteData.email}`}
    title="send us an email"
>
    <small class="">Get In Touch Mail</small>
</a>
