---
// src/components/Nav.astro
//
// Helper to check if current page
const currentPath = Astro.url.pathname;
---

<style>
    .button {
        text-align: center;
    }
</style>
<nav class="flexcolo" role="menu">
    <a
        class="button"
        role="menuitem"
        title="Design and development"
        href="/design"
    >
        <span class="page_title">Communication Design</span>
    </a>

    <a
        class="button"
        role="menuitem"
        title="Content production and management"
        href="/conten"
    >
        <span class="page_title">Content production</span>
    </a>

    <a class="button" role="menuitem" title="Packages offer" href="/offer/">
        <span class="page_title">Website Pricing</span>
    </a>
</nav>
