/*🐸BUTTONS */
.button {
  user-select: none;
  font-weight: var(--weight_med);
  display: inline-block;
  width: max-content;
  text-align: center;
  height: var(--tap_size);
  line-height: var(--tap_size);
  margin-block: calc(var(--space_block) / 3);
  border-radius: var(--radius);
  padding-inline: 0;
  color: var(--brand);
  border: 2px solid var(--brand);
  padding-inline: calc(var(--space_inline) / 5);
}

.button:focus,
.button:hover {
  cursor: pointer;
  /*background-color: var(--button_focus_bg);*/
  transform: scale(1.025);
}

.button:active {
  /*background-color: var(--button_focus_bg);*/
  transform: translateY(calc(var(--space_block) * 0.145)); /* was 0.4svh */
}

.button_dark {
  background-color: var(--black);
  color: var(--white);
  border: calc(var(--space_block) * 0.116) solid var(--white); /* was 0.32svh */
}

.button_dark:focus,
.button_dark:hover {
  cursor: pointer;
  background-color: var(--brand);
  border: calc(var(--space_block) * 0.116) solid var(--brand); /* was 0.32svh */
}

.button_row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
  padding: var(--space_block) 0;
}

.CTAbutton {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  svg {
    width: max-content;
  }
}
