.grid_projects {
  padding-top: var(--space_block);
  display: grid;

  grid-template-columns: 1fr;
  gap: var(--space_block) var(--space_inline);
}

@media (370px < width) {
  .grid_projects {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }
}

.grida {
  display: grid;
  grid-template-rows: 1fr 1fr 4fr;
  place-content: stretch center;
  gap: 1rem;
  padding: 1rem;
  height: 155svh;
}
.on_scroll_msg {
  place-self: center center;
}
