.grid_projects {
  padding-top: var(--space_block);
  display: grid;

  grid-template-columns: 1fr;
  gap: var(--space_block) var(--space_inline);
}

@media (370px < width) {
  .grid_projects {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }
}

.grid_offer {
  display: grid;
  padding: 5%;
  grid-template-columns: 1fr;
  gap: var(--space_block) var(--space_inline);
}

@media (width > 600px) {
  .grid_offer {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}
