.grid_projects {
  padding-top: var(--space_block);
  display: grid;

  grid-template-columns: 1fr;
  gap: var(--space_block) var(--space_inline);
}

@media (370px < width) {
  .grid_projects {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }
}

.grida {
  position: initial;
  display: grid;
  grid-template-rows: 0.5fr 0.5fr auto;
  place-content: stretch center;
  gap: 1rem;
  padding: 1rem;
  height: auto;
  padding-block: calc(var(--space_block) * 2);
}
.on_scroll_msg {
  place-self: center center;
}
