.cover {
  user-select: none;
  min-height: var(--cover_height);
  height: var(--cover_height);
  color: var(--white);
  background-color: var(--brand);
  padding-block: var(--space_block);

  .slogan {
    padding: 0;
    text-wrap: pretty;
    text-align: center;
    font-weight: 400;
  }
  .title_wrap > *,
  .on_scroll_msg > * {
    padding-inline: calc(var(--space_inline) / 2);
  }
}
