/*🐸INTRO SECTION*/
.intro {
	margin-block: var(--space_block);
}

@media (min-width: 600px) {
	.intro {
		margin-block: calc(var(--space_block) * 0.75);
	}
}

@media (min-width: 820px) {
	.intro {
		margin-block: calc(var(--space_block) * 0.5);
	}
}

@media (min-width: 1024px) {
	.intro {
		margin-block: calc(var(--space_block) * 0.25);
	}
}

.intro_pitch {
	background-color: var(--black_fumes);
	color: white;
	padding: var(--space_block) var(--space_inline);
}

.intro_wrap {
	margin: 0 auto;
	padding: 0 1rem;
	max-width: 100ch;
}
