/*🐸LINKS*/
a:not(.button) {
	color: var(--link_color);
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 0.55ch;
	user-select: none;
}

a:not(.button):hover {
	color: var(--link_color_hover);
	text-decoration-thickness: 2px;
	text-underline-offset: 0.45ch;
}

main a:not(.button) {
	color: var(--link_color_main);
}
main a:not(.button):hover {
	color: var(--link_color_main_hover);
}

/*🐸LINKS SUGAR, TOO SWEET???! */

/*a:not(.button):not(.no_underline) {
  color: var(--link_color);
  position: relative;
  display: inline-block;
  padding-bottom: calc(var(--space_block) * 0.073);
  text-decoration: underline;
  text-decoration-thickness: 0.75ch;
  text-underline-offset: 0.55ch;
  user-select: none;
}
a:not(.button):not(.no_underline):hover {
  color: var(--link_color_hover);
  text-decoration-thickness: 0.2ch;
  text-underline-offset: 0.45ch;
}

a:not(.no_underline) :not(.button):not(.no_underline) {
  color: inherit;
  text-decoration: none;
  border-bottom: 3px solid var(--smart_underline_for_white_text);
  box-shadow: inset 0 -5px 0 var(--smart_underline_for_white_text);
  -webkit-transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
  transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
}

a:not(.card):not(.no_underline):not(.button):focus,
a:not(.card):not(.no_underline):not(.button):hover {
  background: var(--smart_underline_for_white_text);
}
*/
