/*mean.css */
/*🐸MEAN STUFF */

.mean_title {
  color: var(--brand);
  min-height: 50dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h1 {
    max-width: 90svw;
  }
}

.mean_icon {
  padding-top: 10px;
}

.mean_icon.four_icon_group {
  max-width: 80dvw;
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  gap: var(space_inline);
}

.mean_title.mean_title--first {
  background-color: black;
  min-height: 100dvh;
  padding-block: calc(var(--space_block) * 4);
}
.mean_title.mean_title--second {
  padding-top: calc(var(--space_block) * 4);
  padding-bottom: 0;
  margin-bottom: 0;
}
.mean_title.mean_title--first h1,
.mean_title.mean_title--first h2,
.mean_title.mean_title--first h3 {
  color: white;
}

@media (min-width: 601px) {
  .mean_icon.four_icon_group {
    width: 70dvw;
  }
  .mean_title.mean_title--first {
    min-height: 50dvh;
  }
}
@media (min-width: 821px) {
  .mean_icon.four_icon_group {
    width: 50dvw;
  }
}
@media (min-width: 1025px) {
  .mean_icon.four_icon_group {
    width: 35dvw;
  }
}
