/*mean.css */
/*🐸MEAN STUFF */

.mean_title {
	color: var(--brand);
	min-height: 50dvh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.mean_icon {
	min-width: 200px;
	padding-top: 10px;
	width: 20dvw;
	max-width: 240px;
}

.mean_icon.four_icon_group {
	max-width: 80dvw;
	display: flex;
	width: 80vw;
}

@media (min-width: 601px) {
	.mean_icon.four_icon_group {
		width: 70dvw;
	}
}
@media (min-width: 821px) {
	.mean_icon.four_icon_group {
		width: 50dvw;
	}
}
@media (min-width: 1025px) {
	.mean_icon.four_icon_group {
		width: 35dvw;
	}
}

.mean_title.mean_title--first {
	background-color: black;
	min-height: 50dvh;
	padding-block: calc(var(--space_block) * 4);
}
.mean_title.mean_title--second {
	padding-block: calc(var(--space_block) * 4);
	margin-top: 2rem;
}
.mean_title.mean_title--first h1,
.mean_title.mean_title--first h2,
.mean_title.mean_title--first h3 {
	color: white;
}
