/*🐸post_image STUFF*/

.post_image {
  margin: var(--space_block) 0;
  text-align: center;
  width: 400px;
}

.post_image img {
  max-width: 100%;
  height: auto;
  border-radius: var(--radius);
  width: 175px !important;
  margin-inline: auto;
}

@media (min-width: 601px) {
  .post_image img {
    width: 300px !important;
  }
}
@media (min-width: 821px) {
  .post_image img {
    width: 350px !important;
  }
}
