/*🐸post_image STUFF*/

.post_image {
	margin: 0;
	text-align: center;
	width: auto;
	width: auto;
	padding: 0 calc(var(--space_inline) * 2);
	color: var(--brand);
}

.post_image img {
	max-width: 100%;
	height: auto;
	border-radius: var(--radius);
	width: 125px;
	padding: 0;
}

@media (min-width: 601px) {
	.post_image {
		width: 250px;
	}
}
@media (min-width: 821px) {
	.post_image {
		width: 350px;
	}
}
