/*layers/selling.css*/

/*🐸SELLING POINTS */

.selling_points {
  user-select: none;
  font-size: 1rem;
  margin-bottom: calc(var(--space_block) / 2);
  max-width: 400px;
  margin-inline: auto;
  ul {
    margin-left: 0;
    margin-right: 0;
  }
  li {
    padding-left: calc(var(--space_inline) / 5);
  }
  li::marker {
    content: "✓";
    color: limegreen;
    font-weight: bold;
  }
}

.selling_gmap {
  margin-bottom: var(--space_block);
  font-size: 1.1rem;
  max-width: 80svw;
  margin-inline: auto;
  ul {
    margin-left: 0;
    margin-right: calc(var(--space_inline) * 0.15);
  }
  li {
    /*padding-left: calc(var(--space_inline) / 1.5);*/
    padding-left: calc(var(--space_inline) * 0.25);
  }
  li::marker {
    content: "✓";
    color: limegreen;
    font-weight: bold;
  }
}

@media (min-width: 600px) {
  .selling_gmap {
    margin-left: 15dvw;
  }
}
