/* SVG utilities */
svg.outlined {
  fill: transparent;
  stroke-width: calc(var(--space_block) * 0.29); /* was 0.8svh */
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

@media (min-width: 600px) {
  svg.outlined {
    stroke-width: calc(var(--space_block) * 0.218); /* was 0.6svh */
  }
}

@media (min-width: 820px) {
  svg.outlined {
    stroke-width: calc(var(--space_block) * 0.182); /* was 0.5svh */
  }
}

@media (min-width: 1024px) {
  svg.outlined {
    stroke-width: calc(var(--space_block) * 0.145); /* was 0.4svh */
  }
}

svg.brand_color {
  stroke: var(--brand);
}

svg.white_color {
  stroke: var(--white);
}
