/* SVG UTILITIES */
svg.outlined {
  fill: transparent;
  stroke-width: 8;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
/*
@media (min-width: 600px) {
  svg.outlined {
    stroke-width: calc(var(--space_block) * 0.218);
  }
}

@media (min-width: 820px) {
  svg.outlined {
    stroke-width: calc(var(--space_block) * 0.182);
  }
}

@media (min-width: 1024px) {
  svg.outlined {
    stroke-width: calc(var(--space_block) * 0.145);
  }
}*/

svg.brand_color {
  stroke: var(--brand);
}

svg.white_color {
  stroke: var(--white);
}
