.tag {
	padding: 0.25rem 0.75rem;
	background-color: var(--whiteT25);
	border: 2px solid var(--brand);
	border-radius: calc(var(--radius) / 2);
	font-size: calc(var(--font_rem) * 0.75);
	text-transform: uppercase;
	color: var(--brand);
	font-weight: 500;
}
