.tags {
	padding-block: var(--space_block);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
	gap: 5px;
}

.tag {
	height: auto;
	line-height: normal;
	margin-block: 0;
	padding: 0.25rem 0.75rem;
	background-color: var(--whiteT25);
	border-radius: calc(var(--radius) / 2);
	font-size: calc(var(--font_rem) * 0.75);
	text-transform: uppercase;
}

.tag:hover,
.tag:focus-visible {
	background-color: var(--brand);
	color: white;
	transform: none;
}
