/*🐸TOC STUFF*/
.toc {
  background-color: var(--whiteT25);
  color: var(--black);
  border: 1px solid var(--brand);
  border-radius: var(--radius);
  margin: var(--space_block) 0;
  padding: var(--space_block);
  margin-inline: auto;
  text-align: left;
}

.toc ul {
  padding: 0;
  list-style-type: "→ ";
  list-style-position: outside;
}

.toc li:not(:hover)::marker {
  color: var(--brand);
}

.toc a {
  color: var(--brand);
  text-decoration: none;
}

.toc a:hover {
  text-decoration: underline;
}
