/*🐸TOC STUFF*/
.toc {
  background-color: var(--whiteT25);
  color: var(--black);
  border: 1px solid var(--brand);
  border-radius: var(--radius);
  margin: var(--space_block) 0;
  padding: var(--space_block);
  margin-inline: auto;
  text-align: left;
}
/*
.toc ul {
  padding: 0;
  list-style-type: "→  ";
  list-style-position: outside;
}

.toc li:not(:hover)::marker {
  color: var(--black75);
  font-size: 75%;
}
.toc li:hover::marker {
  font-weight: 500;
  font-size: 75%;
  color: var(--black);
}*/

.toc ul {
  padding: 0;
  list-style: none; /* remove default marker */
}

.toc li {
  position: relative;
  padding-left: 1.25em; /* space for the arrow */
}

.toc li::before {
  content: "→";
  position: absolute;
  left: 0;
  top: 0; /* keeps it aligned to first line */
  color: var(--black75);
  font-size: 75%;
}

.toc li:hover::before {
  font-weight: 500;
  color: var(--black);
}

.toc li {
  a {
    color: var(--blackT50);
    text-decoration: none;
  }
  a::after {
    content: "";
  }

  a:hover {
    text-decoration: underline;
  }
}
