<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

  {% include head.html %}

  <body class="home cover_layout">

    <div class="main cover">

      <span id="top"></span>

      {% include svg/defs.html %}

      <div class="cover js_scrollto01">

        <div class="wrapper wrapper--slim flex flex_cols flex_align_center full_height flex_justify_center">

          {% include home/hi.html %}

          <div class="cover__title">

            <div class="btn">
              <div class="name"><h1>{{ site.title }}</h1></div>
              <div class="desc">We believe in making life easy for you and your customers.</div>
            </div>

          </div>

        </div>

      </div>

      <header class="site_header dark_bg">

        {% include home/intro.html %}

      </header>

      <div class="page_content">

        <div class="mean_title">
          <div class="wrapper wrapper--slim">
            <h1 class="center">See what we deliver!</h1>
          </div>
        </div>

        <div class="home_content">

          <ul class="post_list page_break">

            {% for work in site.works reversed %}
            <li class="{{ work.tag }} {{ work.category }}">

              <a class="post_link" href="{{ work.url | prepend: site.baseurl }}"  target="_blank" rel="noopener noreferrer" >
                {% if work.ico_url %}
                <div class="post_link_ico {{work.ico_name}}">
                  <img loading="lazy" class="" src="{{work.ico_url}}" alt="{{work.title}}" />
                </div>
                {% endif %}
                <span class="post_link_text weight900" ></span>{{ work.title }}
                <div class="post-meta">{{ work.date | date: "%b %-d, %Y" }}</div>
              </a>

            </li>
            {% endfor %}

          </ul>

        </div>

      </div>

      <div class="offer_content light_bg page_break social_media_management">

        {% include product_social_media_management.html %}

      </div>

      <div class="offer_content light_bg page_break websites_offers">

        {% include product_loop_title.html %}

        {% include product_loop_group.html %}

      </div>

      <div class="offer_content light_bg page_break google_my_business">

        {% include product_streetbiz.html %}

      </div>

    </div>

    {% include footer.html %}

    {% include script_scroll_to.html %}

    {% include script_hi_vivus.html %}

    {% include script_append_to_copy.html %}

    {% include script_microdata.html %}

    {% include script_ext_link.html %}

    {% include script_google_analytics.html %}

  </body>

</html>
