<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

  {% include head.html %}

  <body class="default_layout {% if page.title %}{{ page.title | slugify }}{% endif %} page {% if page.is_home %} home{% endif %} {% if page.layout == "product" %}product_page{% endif %}">

    <div class="main">

      <span id="top"></span>

      {% include svg/defs.html %}

      {% include header.html %}

      {{ content }}

    </div>

    {% include footer.html %}

    {% if page.title contains 'offer' %}
      {% include script_card.html %}
    {% endif %}

  
    {% include script_scroll_to.html %}

    {% include script_append_to_copy.html %}

    {% include script_microdata.html %}

    {% include script_ext_link.html %}

    {% include script_google_analytics.html %}

  </body>

</html>
