---
layout: default
---
{% if page.title contains "offer" and page.language contains "english" %}

  <div class="print_only">
   <div class="print_imperatif">{{ page.print_imperatif }}</div>
   <div class="print_title">{{ page.print_title }}</div>
   <div class="print_subtitle">{{ page.print_subtitle }}</div>
  </div>

  <div class=" light_bg offer_content">
    {% comment %}
    need scrolltarget div cos js will scroll to the vertical center of the div block
    {% endcomment %}

    <div class="scrolltarget">
      {% include product_loop_title.html %}
    </div>

    {% include product_loop_group.html %}

  </div>

  <div class="offer_content light_bg page_break social_media_management">

    {% include product_social_media_management.html %}

  </div>

  <div class="offer_content light_bg google_my_business">

    {% include product_streetbiz.html %}

  </div>

  <div class="print_only">
    <div class="print_footer">{{ page.print_footer }} {{site.url}}{{page.url}}</div>
  </div>

  {% if page.title contains "agent" %}
    <div class="section light_bg offer_content">

      {% include agent_selling_points.html %}

    </div>
  {% endif %}

{% endif %}



{% if page.title contains "offer" and page.language contains "indonesia" %}

  <div class="print_only">
   <div class="print_imperatif" title="{{ page.print_imperatif }}" >{{ page.print_imperatif_id }}</div>
   <div class="print_title">{{ page.print_title }}</div>
   <div class="print_subtitle" title="{{ page.print_subtitle }}" >{{ page.print_subtitle_id }}</div>
  </div>

  <div class=" light_bg offer_content">
    {% comment %}
    need scrolltarget div cos js will scroll to the vertical center of the div block
    {% endcomment %}
    <div class="scrolltarget">
      {% include product_loop_title_id.html %}
    </div>

    {% include product_loop_group.html %}

  </div>

  <div class="offer_content light_bg google_my_business">

    {% include product_streetbiz_id.html %}

  </div>

  <div class="print_only">
    <div class="print_footer">{{ page.print_footer }} {{site.url}}{{page.url}}</div>
  </div>

  {% if page.title contains "agent" %}
    <div class=" light_bg offer_content">

      {% include agent_selling_points_id.html %}

    </div>
  {% endif %}

{% endif %}
