<span class="scrolltarget"></span>
<div class="wrapper wrapper--slim full_height wrapper--vert_pad">
  <a class="section flex flex_cols flex_align_self_start to_design" href="/design/">
    {% comment %} scrolltarget span wrap is needed cos js will scroll to the vertical center of the
    span block {% endcomment %}

    <div class="color_icon blasting_brands">{% include svg/sources/1.svg %}</div>

    <div class="section_block">
      <span class="">
        <h1 class="header_title">It's a Jungle out there.</h1>

        <h2 class="h3 header_title color_white">Can customers reach you?</h2>

        <h3 class="h4 header_title color_white">
          When I google your company name which infos can I get?
        </h3>
      </span>

      <div class="text">
        <p>To get noticed, ones need to be easy, customer-friendly and recognizable.</p>

        <p>Today 60% of internet traffic comes from phones. Is your website ready for that?</p>

        <p>It's never been easier to launch a brand new internet presence.</p>

        <p>
          Needing a landing page or an online shop? Marketing using social media? Tired to try to
          manage it all yourself?
        </p>

        <small class="button button--dark">Know how we design</small>
      </div>
    </div>
  </a>

  <a class="section to_about flex flex_cols flex_align_self_start" href="/about/">
    <div class="color_icon superstitions">{% include svg/sources/2.svg %}</div>

    <div class="section_block">
      <h1 class="header_title">You need serious help.</h1>

      <h2 class="h3 header_title color_white">Junglestar is a small, flexible web agency.</h2>

      <h3 class="h4 header_title color_white">
        Sustainable Web Design to help fight Climate Change.
      </h3>

      <div class="text">
        <p>We offer a one-stop-shop esperience for small enterprises.</p>

        <p>We help with marketing communication. We grow relationships with clients.</p>

        <p>We advise on strategies, produce content, manage social media.</p>

        <p>We make websites and apps.</p>

        <p>We've been dealing with communication for over 25 years.</p>

        <small class="button button--dark">See what we deliver</small>
      </div>
    </div>
  </a>

  <a class="section to_design flex flex_cols flex_align_self_start" href="/design/">
    <div class="color_icon crazy_claims">{% include svg/sources/3.svg %}</div>

    <div class="section_block">
      <h1 class="header_title">Sustainable by design.</h1>

      <h2 class="h3 header_title color_white">Minimize. Organize. Simplify.</h2>

      <h3 class="h4 header_title color_white">
        An easy to mantain internet presence. Easy on your budget & your time.
      </h3>

      <div class="text">
        <p>Sustainable for you. Never too busy again.</p>

        <p>
          We simplify the sofware used, making it Anti-Fragile. We design for a Low Consumption
          Sustainable Web, helping fight Climate Change.
        </p>
      </div>

      <div class="text">
        <p>
          Entreprenuers should avoid repetitive tasks and be able to just focus, otherwise they are
          called Artisans.
        </p>

        <p>
          We bring the joy of delegation, a manager life-saver. Free your time by delegating you
          company Content Production!
        </p>

        <small class="button button--dark">Find out more</small>
      </div>
    </div>
  </a>
</div>
