---
// src/layouts/Layout.astro
import Head from "@components/Head.astro";
import Footer from "@components/Footer.astro";
import "@styles/global.css";

//import DevBrandColors from "@components/DevBrandColors.astro";

export interface Props {
  title: string;
  description?: string;
  sitemap?: boolean;
  pageSubtitle?: string;
}

const { title, description = "Sustainable Web Design to help fight Climate Change", sitemap = true } = Astro.props;
---

<style>
  main {
    background-color: var(--white);
  }
  .scrolling_body_wrap {
    /*background-color: #161616;*/
    position: relative;
    z-index: 1;
  }
</style>

<html lang="en">
  <!-- ASCII art, dude! -->
  <!--
      _                   _           _
     | |_   _ _ __   __ _| | ___  ___| |_ __ _ _ __
  _  | | | | | '_ \ / _` | |/ _ \/ __| __/ _` | '__|
 | |_| | |_| | | | | (_| | |  __/\__ \ || (_| | |
  \___/ \__,_|_| |_|\__, |_|\___||___/\__\__,_|_|
                    |___/

 site     : https://junglestar.org
 email    : info@junglestar.org
 twitter  : @rokmatwit
-->
  <Head title={title} description={description} sitemap={sitemap} />
  <body>
    <!-- {import.meta.env.DEV && <DevBrandColors />} -->

    <div class="scrolling_body_wrap">
      <slot name="head_banner" />
      <slot name="landing_screen" />

      <main class="">
        <span id="top"></span>
        <slot />
      </main>
    </div>
    <Footer />
  </body>

  <script>
    function addLink(): void {
      if (typeof window.getSelection === "undefined") return;

      const body_element = document.getElementsByTagName("body")[0] as HTMLBodyElement;
      const selection = window.getSelection();

      if (!selection || ("" + selection).length < 30) return;

      const newdiv = document.createElement("div") as HTMLDivElement;
      newdiv.style.position = "absolute";
      newdiv.style.left = "-99999px";
      body_element.appendChild(newdiv);

      const range = selection.getRangeAt(0);
      newdiv.appendChild(range.cloneContents());

      if (range.commonAncestorContainer.nodeName === "PRE") {
        newdiv.innerHTML = "<pre>" + newdiv.innerHTML + "</pre>";
      }

      newdiv.innerHTML +=
        "<br /><br />&#9733; Extract from: <a href='" +
        document.location.href +
        "'>" +
        document.location.href +
        "</a><br />&#9733; 2024 &copy; Junglestar.";

      selection.selectAllChildren(newdiv);

      window.setTimeout((): void => {
        body_element.removeChild(newdiv);
      }, 200);
    }

    document.oncopy = addLink;
  </script>
</html>
