---
// src/components/Cover.astro
import Intro from "@components/Intro.astro";
import Hi from "@components/Hi.astro";
---

<style>
    .site_name {
        font-weight: 200 !important;
        font-size: 200%;
    }
    .cover_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: var(--spaceI) var(--space_);
        min-height: 100svh;
        height: 100svh;
        background-size: cover;
        background-color: #0069cc;
        color: var(--white);
    }
</style>

<header class="cover_wrapper js_scrollto01">
    <Hi />
    <Intro />
    <h1 class="center site_name">JUNGLESTAR</h1>
    <div class="center desc">
        We believe in making life easy for you and your customers.
    </div>
</header>
